/*@font-face {
  font-family: "msyh";
  src: url("../msyh/msyh.woff2") format("woff2"),
       url("../msyh/msyh.woff") format("woff"),
       url("../msyh/msyh.ttf") format("truetype"),
       url("../msyh/msyh.eot") format("embedded-opentype"),
       url("../msyh/msyh.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}*/
*{
	font-family: "Microsoft YaHei",Arial;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*font: inherit;*/
	vertical-align: baseline;

}
i{
	font-style:normal;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	min-width: 1200px;
	/*max-width: 1920px;*/
	margin: 0 auto;
	background: #f5f5f5;
	/*font-family:‘Microsoft YaHei,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif’;*/
	/*font-family: "msyh";*/
	font-family: "Microsoft YaHei",Arial; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select: none; 
	-khtml-user-select: none; 
	user-select: none;  
}
input,textarea,button{
	font-family: "Microsoft YaHei",Arial;
}
input[type="text"]{
	text-indent: 10px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {   
	/* WebKit browsers */   
   color: #999;   
   font-size: 14px;
   }   
   input:-moz-placeholder, textarea:-moz-placeholder {   
   /* Mozilla Firefox 4 to 18 */   
   font-size: 14px;
   color: #999;   
   }   
   input::-moz-placeholder, textarea::-moz-placeholder {   
	/* Mozilla Firefox 19+ */   
	font-size: 14px;
   color: #999;   
   }   
   input:-ms-input-placeholder, textarea:-ms-input-placeholder {   
	/* Internet Explorer 10+ */   
	font-size: 14px;
   color: #999;   
   } 
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	color: inherit;
	text-decoration:none;
}
button{
	transition:background-color 0.3s;
	-webkit-transition:background-color 0.3s;
	-ms-transition:background-color 0.3s;
	-o-transition:background-color 0.3s;
	-moz-transition:background-color 0.3s;
}


.maxWidth{
	width:100%;
	overflow: hidden;
}
.headBox{
	background: #4f4f4f;
	height:40px;
	color: #b6b6b6;
	line-height: 40px;
	font-size: 14px;
}
.mianCont{
	width:1200px;
	overflow: hidden;
	height: auto;
	margin: 0 auto;
}
.Lf{
	float: left;
}
.Rt{
	float:right;
	overflow: hidden;
}
.collect{
	margin-right: 26px;
}


.Rt>div{
	float: left;
}
.fontI{
	font-weight: bold;
	font-size: 12px;
    margin-left: 16px;
    margin-right: 16px;
    color:#585858;
}
.objIcon{
	background-position: -26px -1px;
}
.webIcon{
	background-position: -49px -1px;
}
.ssIcon{
	background-position: -70px -1px;
}
.logo{
	margin-top: 24px;
	width: 294px;
    height: 102px;
	margin-bottom: 16px;
	float: left;
	margin-right: 56px;
	background: url(../img/logo.png) no-repeat;
	background-size:contain ;
	background-position:center ;
}


.seachBox{
	float: left;
    margin-top: 31px;
    color: #282828;
    font-size: 14px;
    margin-right: 33px;
}
.schType>span{
	margin-right: 29px;
}
.schType{
	margin-bottom: 9px;
	padding-left: 4px;
    max-height: 14px;
    line-height: 14px;
}
.actSchType{
	color: #5892f3;
}
.seachBox input{
    width: 458px;
    height: 30px;
    border: 2px #5892f3 solid;
    outline: none;
    padding-left: 15px;
    font-size: 12px;
    color: #333;
}
.seachBox button{
    width: 92px;
    height: 36px;
    border: 2px #5892f3 solid;
    background: #5892f3;
    margin-left: -3px;
    vertical-align: top;
    font-size: 14px;
    color: #fff;
    outline: none;
}
.hotSch{
	font-size: 12px;
	margin-top: 8px;
    max-height: 13px;
    line-height: 13px;
}

.mianCont_box{
	background-color: white;
}
.hotSch>span{
	color: #999;
	margin-right: 12px;
}
.tabLink{
	text-align: left;
	overflow: inherit;
}
.tabLink>a{
	display: inline-block;
    margin-left: 14px;
    font-size: 16px;
    height: 31px;
    text-align: center;
    line-height: 31px;
    padding-left: 14px;
    padding-right: 15px;
    color: #333;
}
.tabLink>a:hover{
	color: #5992f3;
	/*font-size: 17px;*/
}
.tabLink .actTabLink{
	/*border-bottom: 2px solid #6a9ef7;*/
	color: #5992f3;
	/*padding: 7px 15px;*/
	position: relative;
}
.tabLink .actTabLink:after{
	content: '';
	width: 100%;
	height: 2px;
	background:#6a9ef7 ;
	position: absolute;
	bottom: -2px;
	left: 0;
}
.tabLink .notPd{
    padding-left: 7px;
    padding-right: 2px;
}
.phoneNum{
	width: 260px;
	margin-top: 45px;
	height: 64px;
	background: url(../img/phoneNum.png) no-repeat;
	background-size:contain ;
	float: left;
}
.tabLink>div{
	width: 204px;
	height: 33px;
	background: #6a9ef7;
	color: #fff;
	font-size: 16px;
	text-align: left;
	padding-left: 21px;
	float: left;
	line-height: 33px;
	position: relative;
}
.tabLink>div>span{
	font-weight: bold;
}
.bannerBox{
	height: 461px;
}
.swiper-container{
	width: 100%;
	height: 100%;
} 
.swiper-slide{
	background: url(../img/banner.png) no-repeat;
	background-position: center;
	background-size: cover;
}
.bannerBox{
	position: relative;
}
.leftTabBoxout{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -615px;
    height: 99.8%;
}
.leftTabBox{
	position: absolute;
    top: 33px;
    left: 0;
    z-index: 10;
    display: none;
}
.seachDiv{
	background: #5892f3;
	width: 573px;
    height: 36px;
    overflow: hidden;
}
.tabLinkMaxBox{
	border-bottom: 2px solid #6a9ef7;
	overflow: inherit;
}

.menu {width: 968px;height:460px;overflow: hidden;}
.menu .menuTop { background-color: #F10215; color: #fff; width: 140px; height: 40px; padding-left: 20px; line-height: 40px; cursor: pointer; }
.menu ul {height:100%; background-color: #5892f3;position: relative;color: #fff;width: 225px; box-sizing: border-box;}
.menu ul li { padding-left: 19px;
    text-align: left;
    font-size: 14px;
    z-index: 2;
    padding-top: 14px;
    height: 65.7px;
    box-sizing: border-box;
    border: 1px #5892f3 solid;}
.menu ul li:after{
    width: 5px;
    background: #fff;
    height: 99.5%;
    position: absolute;
    top: 1px;
    right: -4px;
    content: '';
    z-index: 5;
    display: none;
}
.menu ul li h3{ font-size: 15px;font-weight: 600;height: 15px;line-height: 15px;}
.menu ul li a:hover {cursor: pointer; }
.menu ul li:hover { border-right: 0; background-image: none;background: #fff;color: #333; }
.menu ul li:hover span a{color: #333;}
.menu ul li h3:hover{color: #317ee6;}
.menu ul li span a:hover{color: #317ee6;}
.menu ul li:hover:after{
	display: block;
}
.menu ul li:hover>span{color: #5892f3;}
.menu ul li:hover .submenu { display: block; }
.menu ul li .submenu {    font-size: 16px;
    box-sizing: border-box;
    padding-top: 23px;
    padding-left: 24px;
    color: #282828;
    position: absolute;
    left: 224px;
    top: 0px;
    width: 713px;
    height: 460px;
    background-color: #FFF;
    z-index: 3;
   display: none;
    border: 1px #5892f3 solid;}
.menu ul li .submenu .subleft { margin-left: 0px;  }
.menu ul li>span{color: #e1ecff;}
.subTit{
	    color: #282828;
    font-size: 15px;
    font-weight: bold;
    max-height: 15px;
    line-height: 15px;
    margin-bottom: 19px;
}
.objType{margin-bottom: 77px;overflow: hidden;}
.objType>a{    padding: 0px 9px;
    font-size: 14px;
    /*background: #eff5fd;*/
    margin-right: 53px;
    white-space: nowrap;
    margin-bottom: 13px;
    float: left;
    height: 25px;
    line-height: 25px;box-sizing: border-box;}
.objType>a:hover {background: #eff5fd;}
.subleft>div>p{color: #5892f3;
    margin-bottom: 18px;
    height: 15px;
    font-size: 15px;
    line-height: 15px;
    font-weight: bold;}
.hotObj a{display: inherit;}
.hotObj{margin-right: 27px;text-align: center;float: left;}
.hotObj div{width: 110px;height: 110px;margin-bottom: 23px;background: url(../img/objDemo.png) no-repeat;background-position: center;background-size:cover ;}
.hotObj p{margin-bottom: 12px;color: #fc6721;font-size: 14px; height: 14px;line-height: 14px;}
.hotObj span{font-size: 13px;color: #282828;max-height: 13px;line-height: 13px;}
.hotObj:hover span{color: #5892F3;}
/*---------------公共select 开始----------------------------*/
.select{
	position: relative;
	float: right;
	margin-top: 9px;
	margin-right: 4px;
	width: 132px;
	height: 37px;
	line-height: 37px;
	border: 1px solid #ebe9ea;
	box-sizing: border-box;
	padding-left: 10px;
	color: #999;
	cursor: pointer;
}
.select>img{
	float: right;
	width: 13px;
	height: 7px;
	margin-top: 15px;
	margin-right: 9px;
}
.select>ul{
	display: none;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #ebe9ea;
	position: absolute;
	top: 36px;
	left: -1px;
	background: #fff;
	border-top: none;
	z-index: 1;
	max-height: 250px;
	overflow: auto;
}
.select>ul>li{
	padding-left: 10px;
	cursor: pointer;
}
.select>ul>li.hovered{
	background: #ebe9ea !important;
	color: #fff !important;
}
/*---------------公共select 结束----------------------------*/
/*---------------公共头部 开始----------------------------*/
header{
	border-bottom: 1px solid #f8f8f8;
	-webkit-box-shadow: 3px 3px 10px #dcdcdc;
	-moz-box-shadow: 3px 3px 10px #dcdcdc;
	box-shadow: 3px 3px 10px #dcdcdc;
	margin-bottom: 3px;
}
header .headerTop{
	background-color: #333333;
	color: #B6B6B6;
	height: 30px;
	padding-top: 10px;
	font-size: 14px;

}
header .headerTopLeft{
	font-size: 14px;
}
header .headerTopLeft>div{
	float: left;
	margin-right: 28px;
}
header .headerTopRight{

}
header .headerTopRight ul{

}
header .headerTopRight ul li{
	float: left;
}
header .headerTopRight ul .liline{
	float: left;
	width: 0;
	border-right: 1px solid #b6b6b6;
	margin: 3px 15px 0;
	height: 15px;
}
header .headerTopRightImg{
	margin-top: 1px;
	margin-right: 7px;
	height: 18px;
	width: 17px;
	float: left;
	background: url("../img/headIcon.png") no-repeat;
}
header .headerTopRightImg1{
	background-position: -2px -3px;
}
header .headerTopRightImg2{
	background-position: -26px -1px;
}
header .headerTopRightImg3{
	background-position: -49px -1px;
}
header .headerTopRightImg4{
	background-position: -70px -1px;
}
header .headerBot{
	height: 83px;
	background-color: white;
	padding-top: 27px;

}
header .navList .cfnav{
	float: left;
	width: 96px;
	text-align: center;
	height: 63px;
	line-height: 63px;
	font-size: 18px;
	margin-right: 15px;
	color: #282828;
}
header .navList .cfnav a{
	display:inline-block;
	height: 100%;
	width: 100%;
}
header .navList .cfnav.on{
	color: #0073b9;
	border-bottom: 2px solid #0073b9;
}
/*---------------公共头部 结束----------------------------*/
/*---------------公共底部 开始----------------------------*/
footer{
	height: 490px;
	width: 100%;
	min-width: 1200px;
	background-color: #ffffff;
	border-top:5px solid #fbfbfb;
}
footer .footerTop{
	height: 57px;
	padding: 40px 0;
	border-bottom: 1px  solid #e2e2e2;
	overflow: hidden;
}
footer .footerTop .ftphone{
	width: 314px;
	/*height: 137px;*/
	margin-left: 10px;
}
footer .footer2,.footer3,.footer4,.footer5{
	/*margin-left: 56px;*/
}
footer .footerTop .ftphoneImg{
	height: 56px;
	width:40px;
	margin-right: 10px;
}
footer .footerTop .ftphoneImg>img{
	width: 100%;
	height: 100%;
}
footer .ftImg{
	margin-right: 10px;
	height: 56px;
}
footer .ftImg1{
	margin-left: 5px;
	background: url("../img/footer1.png") no-repeat;
	background-size: cover;
}
footer .ftImg2{
	background: url("../img/footer2.png") no-repeat;
	background-size: cover;
}
footer .ftImg3{
	margin-left: 68px;
	background: url("../img/footer3.png") no-repeat;
	background-size: cover;
}
footer .ftImg4{
	margin-left: 87px;
	background: url("../img/footer4.png") no-repeat;
	background-size: cover;
}
footer .ftImg5{
	margin-left: 83px;
	background: url("../img/footer5.png") no-repeat;
	background-size: cover;
}

footer .ftText div{
	height: 28px;line-height: 28px;
}
footer .footerCen{
	height: 150px;
	padding-top: 30px;

}
footer .footerCen1{margin-left: 15px;}
footer .footerCen1 div,.footerCen2 div,.footerCen3 div,.footerCen4 div{
	font-size: 14px;
	color: #666666;
	margin-bottom: 10px;
}
footer .footerCen1,.footerCen2,.footerCen3{
	margin-right: 116px;
	text-align: center;
}
footer .footerCen4{
	margin-right: 40px;
	text-align: center;
}
footer .footerCen5{
	/*margin-right: 119px;*/
	text-align: center;
}
footer .footerCen .footerCenTitle{
	font-size: 16px;
	color: #333333;
	margin-bottom: 22px;
}
footer .footerBot{
	font-family: "Microsoft YaHei",Arial;
	height: 133px;
	background-color: #f5f5f5;
	text-align: center;
	padding-top: 40px;
	font-size: 14px;
	color: #666666;
}
footer .footerBot ul{
	display: inline-block;
	margin: auto;
	overflow: hidden;
	margin-bottom: 20px;
}
footer .footerBot ul li{
	float: left;
	height: 15px;
	line-height: 15px;
}
footer .footerBot ul .liline{
	width: 0;
	height: 15px;
	border-right: 2px solid #666666;
	margin: 0 17px;
}
footer .friendList{
	display: inline-block;
	overflow: hidden;
	margin-bottom: 20px;
}
footer .friendList a{
	margin-right: 20px;
}
/*------------------公共底部 结束------------------------*/


.pagination{
	display:inline-block;
	padding-left:0;
	margin-bottom:55px;
	border-radius:4px
}
.pagination>li{display:inline}  
.pagination>li>a,.pagination>li>span{
	position:relative;
	float:left;
	padding:10px 12px;
	margin-left:-1px;
	line-height:1.42857143;
	color:#000;
	text-decoration:none;
	background-color:#fff;
	border:1px solid #ddd;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-right: 9px;
}
.pagination>li:first-child>a,.pagination>li:first-child>span{
	margin-left:0;
	/*border-top-left-radius:4px;
	border-bottom-left-radius:4px;*/
}  
.pagination>li:last-child>a,.pagination>li:last-child>span{
	/*border-top-right-radius:4px;
	border-bottom-right-radius:4px;*/
}  
.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover{
	z-index:2;
	color:#23527c;
	background-color:#eee;
	border-color:#ddd;
}  
.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{
	z-index:3;color:#fff;
	cursor:default;
	background-color:#6ea3f4;
	border-color:#6ea3f4;
}  
.pagination>.disabled>a,.pagination>.disabled>a:focus,.pagination>.disabled>a:hover,.pagination>.disabled>span,.pagination>.disabled>span:focus,.pagination>.disabled>span:hover{
	color:#777;
	cursor:not-allowed;
	background-color:#fff;
	border-color:#ddd;
}  
.pagination-lg>li>a,.pagination-lg>li>span{
	padding:10px 16px;
	font-size:18px;
	line-height:1.3333333;
}  
.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span{
	border-top-left-radius:6px;
	border-bottom-left-radius:6px;
}  
.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span{
	border-top-right-radius:6px;
	border-bottom-right-radius:6px;
}  
.pagination-sm>li>a,.pagination-sm>li>span{
	padding:5px 10px;
	font-size:12px;
	line-height:1.5;
}  
.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span{
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}  
.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span{
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
}  
.pager{
	padding-left:0;
	margin:20px 0;
	text-align:center;
	list-style:none;
}  
.pager li{
	display:inline;
}  
.pager li>a,.pager li>span{
	display:inline-block;
	padding:5px 14px;
	background-color:#fff;
	border:1px solid #ddd;
	border-radius:15px;
}  
.pager li>a:focus,.pager li>a:hover{
	text-decoration:none;
	background-color:#eee;
}  
.pager .next>a,.pager .next>span{
	float:right;
}  
.pager .previous>a,.pager .previous>span{
	float:left;
}  
.pager .disabled>a,.pager .disabled>a:focus,.pager .disabled>a:hover,.pager .disabled>span{
	color:#777;
	cursor:not-allowed;
	background-color:#fff;
}
.pageJump{
	display:inline-block;
	padding-left:0;
	/*margin:20px 10px;*/
	border-radius:4px;
	vertical-align:top;
	position: relative;
    padding-left: 65px;
}
.pageJump .button,.pageJump input{
	font-size: 16px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #000;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
	height: 42px;
	box-sizing: border-box;
	width: 45px;
    margin-left: 4px;
    margin-right: 4px;
}
.pageJump .button{
	padding: 0;
    text-align: center;
}
.pageJump-lg .button,.pageJump-lg input{
	padding:10px 16px;
	font-size:18px;
	line-height:1.3333333;
}
.pageJump-sm .button,.pageJump-sm input{
	padding:5px 10px;
	font-size:12px;
	line-height:1.5;
}
.allPageN{
	display: inline-block;
	border: 1px #ddd solid;
	padding: 0 12px;
	height: 42px;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	line-height: 42px;
}
/* 面包屑 */
.breadcrumb a{
	font-size: 16px;
	color: #282828;
	margin-right: 10px;			
	display: inline-block;
}
.breadcrumb span{
	padding: 6px 14px;
	background: #f5f5f5;
	display: inline-block;
}
.breadcrumb{
	padding:13px 0px 14px 0px;
}
.breadcrumb img{
	vertical-align: middle;
    margin-left: 22px;
}

.tabLink>div:hover .leftTabBox{
	display: block;
}
.schType>span{
	cursor: pointer;
}
.hotSch>span:hover{
	color:#8ab5ff;
}
.headBox , .headBox .mianCont ,.headBox .Rt{
	overflow: visible;
}
.headObjType{
	width: 130px;
    height: 237px;
    background: #fff;
    position: absolute;
    top: 40px;
    z-index: 4;
    text-align: center;
    border: #EFEFEF 1px solid;
   	left: -24px;
   	display: none;
}
.headObjType a{
	font-size: 12px;
	color: #282828;
	display: block;
	margin-top: 12px;
	height: 17px;
}
#objTypeHover:hover .headObjType{
	display: block
}

.ts {
	line-height: 32px;
	color: #ff7854;
	margin-left: 10px;
	font-size: 14px;
}



/*已经失效的弹框*/
#effect{display:none;position: fixed;top: 0;left: 0;right:0;bottom: 0;width: 100%;height: 100%;z-index: 999;background-color: rgba(102,102,102,0.5);}
#effect>.cont{position: fixed;top: 50%;left: 50%;width: 450px;height: 279px;background-color: #ffffff;transform: translate(-50%,-50%);background: url('../img/cf_popBackground.png') no-repeat ; background-size: contain;}
#effect>.cont>.cance2{margin: 0;padding: 0 20px;height: 50px;line-height: 50px;background: url('../img/cf_popbackgr.png') no-repeat ;background-size: contain;}
#effect>.cont>.cance2>.popTitle{color:#5992f3;font-size: 16px;}
#effect>.cont>.cance2>.close{width: 16px;height: 16px;margin-top: 17px; background: url('../img/cf_close1.png') no-repeat ; background-size: contain;}
#effect>.cont>.deanger{width: 42px;height: 42px;background: url('../img/cf_denger1.png') no-repeat ; background-size: contain;margin: 0 auto;margin-top: 40px;}
#effect>.cont>.contTitle{margin-top: 20px;font-size: 14px;text-align: center;}
#effect>.cont>.popLogin{width: 140px;height: 45px; line-height: 45px;background-color: #88b0f9;color: white;text-align: center;margin: 0 auto;border-radius: 5px;font-size: 18px;margin-top: 35px; }
#effect>.cont>.popLogin:hover{background-color: #7ea9f9;}


.seachListDp{
    width: 475px;
    height: 343px;
    position: absolute;
    border: 1px #bfcada solid;
    background: #fff;
    overflow-y: scroll;
    display: none;
    top: 129px;
    /*left: 375px;*/
    z-index: 999;
}
.seachListDp p{
	margin-bottom: 5px;
	padding-left: 5px;
	font-size: 12px;
	color: #666;
	/*margin-top: 5px;*/
    padding-top: 5px;
    padding-bottom: 5px;
}
.seachListDp p:hover{
	background: #ebebeb;
}
.seachDiv{
    position: relative;
    overflow: visible;
}
.swiper-pagination-switch{
	border: none;
}


#hello {
	margin-right: 26px;
}

#logout {
	cursor: pointer;
}
.clearFloat::after,.clearFloat::before{
	content: "";
	display: block;
	clear: both;
}
input{line-height: 100%;}
.cf_select{
	margin: 0 auto;
	width: 13px;
	height: 13px;
	background: url("../img/cf_noselect.png") no-repeat;
	background-size: 100% 100%;
}
.cf_select.on{
	background: url("../img/cf_selct.png") no-repeat;
	background-size: 100% 100%;
}
thead td,thead th{
	font-size: 14px;
	font-weight: bold;
}
.listBox{
	min-height: 645px;height: 645px;
}
.cfRefresh{
	display: none;
}
/*.select{text-indent: 10px;}*/
.contbox .inputBox .orderNo,.contbox .inputBox .select,.contbox .inputBox .select ul,.contbox .opciationBox .select,.contbox .opciationBox .select ul{width: 160px;}
input[type="button"]{outline: none;}
.rightContBox .messages input[type="text"],.rightContBox .messages .select,.rightContBox .messages .select ul{width: 160px;}