.main{
    width: 986px;
    background: #fff;
    border: 1px solid #EBE9EA;
    font-size:16px;
    color:rgba(40,40,40,1);
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}
.btn{
    background: #5791F6;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}
.ml18{
    margin-left: 18px;
}
.ml44{
    margin-left: 44px;
}
.mr24{
    margin-right: 24px;
}
.bacFD{
    background-color: #FDFDFD;
}
.mprDetail-title{
    line-height: 50px;
    border-bottom: 1px solid #EBE9EA;
    display: flex;
    justify-content: space-between;
}
.ordersHead{
    border-bottom: 1px solid #EBE9EA;
    font-size: 14px;
    line-height: 35px;
}
.ordersHead span{
    float: left;
}
.ordersHead span:nth-child(1){
    width: 204px;
    text-align: center;
}
.ordersHead span:nth-child(2),
.orderItem .date{
    width: 165px;
    text-align: center;
}
.ordersHead span:nth-child(3),
.orderItem .number{
    width: 133px;
    text-align: center;
}
.ordersHead span:nth-child(4),
.orderItem .sumPrice{
    width: 132px;
    text-align: center;
}
.ordersHead span:nth-child(5),
.orderItem .orderMode{
    width: 107px;
    text-align: center;
}
.ordersHead span:nth-child(6),
.orderItem .orderStatus{
    width: 122px;
    text-align: center;
}
.ordersHead span:nth-child(7){
    width: 107px;
    text-align: center;
}

.ordersCont .orderItem{
    line-height: 63px;
    font-size: 14px;
    border-bottom: 1px solid #EBE9EA;
}
.orderItem .componey{
    width: 204px;
}
.componyName{
    width: 140px;
    margin-top: 15px;
    margin-left: 35px;
    line-height: 15px;
}
.orderItem .sumPrice{
    line-height: 15px;
    margin-top: 15px;
}
.orderItem .sumPrice span{
    color: #FF8827;
}
.orderItem .orderBtn{
    width: 78px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-left: 20px;
    margin-top: 18px;
}
.mprDetail-require .title{
    line-height: 49px;
    padding-left: 18px;
    border-bottom: 1px solid #EBE9EA;
}
.requireCont{
    font-size: 14px;
}
.requireCont .requireHead{
    line-height: 36px;
    border-bottom: 1px solid #EBE9EA;
}
.requireHead .reqireNo{
    margin-left: 173px;
}
.requireHead .updateTime{
    margin-left: 22px;
}
.requireInfo{
    position: relative;
    line-height:36px;
    min-height: 302px;
    padding-top: 10px;
    border-bottom: 1px solid #EBE9EA;
}
.requireInfo .middle{
    position: absolute;
    left: 324px;
}
.requireInfo .right{
    position: absolute;
    left: 636px;
}
.mprDetail-footer{
    border-bottom: 1px solid #EBE9EA;
    padding: 16px 0;
}
.mprDetail-footer .closeBtn{
    width: 194px;
    height: 44px;
    margin: 0 auto;
    line-height: 44px;
}