html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family:”Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif”;
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select: none; 
	-khtml-user-select: none; 
	user-select: none;
	min-width: 1230px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	color: inherit;
	text-decoration:none;
}

.maxWidth{
	width:100%;
	/* overflow: hidden; */
}
.headBox{
	background: #4f4f4f;
	height:40px;
	color: #b6b6b6;
	line-height: 40px;
	font-size: 14px;
}
.mianCont{
	width:1229px;
	/* overflow: hidden; */
	height: auto;
	margin: 0 auto;
}
.Lf{
	float: left;
}
.Rt{
	float:right;
	/* overflow: hidden; */
}
.collect{
	margin-right: 26px;
}
.icon{
	display: inline-block;
	vertical-align: middle;
	width: 18px;
	height:17px;
	background: url(../img/headIcon.png) no-repeat;
}
.userIcon{
	background-position: -2px -3px;
}
.Rt>div{
	float: left;
}
.fontI{
	font-weight: bold;
	font-size: 12px;
    margin-left: 16px;
    margin-right: 16px;
    color:#585858;
}
.objIcon{
	background-position: -26px -1px;
}
.webIcon{
	background-position: -49px -1px;
}
.ssIcon{
	background-position: -70px -1px;
}

.topTitle{
	height: 112px;
	/* line-height: 112px; */
}
.topTitle>.logo{
	height: 100%;
}
.topTitle>.logo>img{
	vertical-align: middle;
}
.topTitle>.phone{
	color:#666666;
	font-size: 22px;
}
.mainCenter{
	height: 614px;
	width: 100%;
	padding-top: 36px;
	background-color: #6a9ef7;
}
.mainCenterRegist{
	width: 695px;
	margin:0 auto;
	height: 553px;
	background-color: #fcfcfc;
}
.mainCenterRegistTitle{
	padding-top: 28px;
	font-size: 25px;
	overflow: hidden;
}
.mainCenterRegistTitle>.title{
	margin-left: 325px;
}
.login{
	margin-top: 5px;
	font-size: 13px;
	margin-right: 90px;
	color: #7AB5FF;
}

.reg-box>li{
	margin-top: 18px;
	padding-left: 20px;
	font-size: 14px;
	overflow: hidden;
}
.reg-box>li>span{
	display: inline-block;
	width: 190px;
	height: 36px;
	line-height: 36px;
	text-align: right;
}
.reg-box>li>input{
	font-size: 15px;
	/* color:#999; */
	margin-left: 10px;
	width: 337px;
	height: 35px;
	text-indent: 10px;
}
.reg-box>li>.box{
	margin-left: 205px;
	width: 14px;
	height: 14px;
	vertical-align: text-bottom;
	background: url("../img/cf_noChoose.png") no-repeat;
	background-size: 100% 100%;
}
.reg-box>li>.active{
	background: url("../img/cf_choose.png") no-repeat;
	background-size: 100% 100%;
}
.reg-box>li>.xieyi{
	color: #5892F3;
}

.error{
	font-size: 12px;
	color: red;
	margin-left: 5px;
	height: 41px;
	line-height: 41px;
}
.reg-box>li>.code{
	width: 157px;
	height: 35px;
	margin-left: 14px;
}
.codeImg{
	display: inline-block;
	margin-left: 14px;
	width: 162px;
	height: 35px;
	overflow: hidden;
}
.codeImg>img{
	float: left;
	width: 162px;
	height: 41px;
}
.reg-box>li>.smsCode{
	width: 157px;
	height: 35px;
	margin-left: 14px;
}
.sendCode{
	border: none;
	display: inline-block;
	margin-left: 12px;
	width: 162px;
	height: 41px;
	line-height: 41px;
	text-align: center;
	background-color: #3582F8;
	color: #ffffff;
	border-radius: 2px;
	font-size: 17px;
}

.sub{
	display: block;
	width: 64px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	text-align: center;
	padding: 10px 70px;
	color: #3582F8;
	border: 1px solid #3582F8;
	margin: 0 auto;
	margin-top: 23px;
	font-size: 15px;
	background-color: #fcfcfc;
}
.sub:hover{background-color: #3582F8; color: white;}

/*底部*/
.mainFooter{
	text-align: center;
}
.mainFooter>ul{
	margin: 0 auto;
	margin-top: 28px;
	display: block;
	overflow: hidden;
}
.mainFooter>ul>li{
	font-size: 12px;
	/*//float: left;*/
	display: inline-block;
	height: 13px;
	padding: 2px 10px;
}
.mainFooter>ul>.line {
	padding: 0;
	width: 0;
	vertical-align: middle;
	height: 13px;
	border-right: 1px solid #757575;
}
.mainFooter>ul>li>a{

}
.mainFooterQuanxian{
	margin: 14px 0 32px 0;
	display: block;
	font-size: 12px;
}
.sendCode:hover{background-color: #056ee0;}

.headObjType {
    width: 130px;
    /* height: 237px; */
    background: #fff;
    position: absolute;
    top: 40px;
    z-index: 4;
    text-align: center;
    border: #EFEFEF 1px solid;
    left: -24px;
    display: none;
}
#objTypeHover:hover .headObjType{
	display: block
}
.headObjType a {
    font-size: 12px;
    color: #282828;
    display: block;
    margin-top: 12px;
    line-height: 20px;
}

.mask{
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
	background: black;
	opacity: 0.5;
	filter:alpha(opacity=50);
	display: none;
}
.xy_detail{
	width: 40%;
	height: 80%;
	position: fixed;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background: white;
	padding: 20px;
	overflow: hidden;
	display: none;
}
.xy_detail div{
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}
.xy_detail img{
	display: block;
	position: absolute;
	right: 15px;
	top: 15px;
	width: 16px;
	height: 16px;
	z-index: 5;
}

































