<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="format-detection" content="telephone=no" />
    <title>新疆化学品经营服务平台</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css"/>
    <script src="../js/header.js"></script><!-- 公共头 -->
    <link rel="stylesheet" href="../css/fuzzySearch.css">
    <style type="text/css">
    		.breadcrumbType2  i{
			border: 1px #d0d0d0 solid;
			color: #d0d0d0;
			width: 20px;
			height: 22px;
			display: inline-block;
		    line-height: 20px;
		    text-align: center;
		    background: #fff;
		}
		.breadcrumbType2  i:hover{
			background: #699ef7;
		    color: #fff;
		}
		.breadcrumbType2  .nrbd{
			border-right: 0px;
		}
		.supplierType span:hover{
    			color: #fff;
		}
		.objLeftInfo>h1{
			width: 206px;
		}
    </style>
</head>
<body>
    <!-- 模糊搜索 -->
    <!--<div class="breadcrumb mianCont">
        <a href="##">首页</a>><a href="##">搜索结果页</a>><span>氢氧化钠<img src="../img/breadcrumbCloseIcon.png" /></span>
    </div>-->
	<div class="mianCont" style="margin-top: 20px;">
		<div class="laftSch">
			<div class="supplierType">
				供应商类型：         
				<span class="act">    全部   </span>
			</div>
			<div class="allTxtBox breadcrumbType2">共<span id="paeTotal"></span>个化合物  1/20 <i class="nrbd">&lt;</i><i>&gt;</i></div>
			<div class="schObjBox">
				<div>
					<div class="objLeftInfo">
						<div class="objImg"> <img src="../img/weiqi.png"/> </div>
						<h1>氢氧化钠</h1>
						<div class="lfBtmInfo">
							<img src="../img/hazardousArticle.png"/>
							<p>管制类商品： </p>
							<p>第一类易制毒化学品</p>
						</div>
					</div>
					<div class="rtObjInfo">
						<p>CAS号： 84-74-2 </p>
						<p>别称：邻酞酸二丁酯、邻苯二甲酸二丁酯</p>
						<div class="schSupplierBox">
							<div>
								<div class="supplierItem">
									<img src="../img/tuijian_pic.png"/>
									<span class="supplierName">新疆中顺鑫和供应链管理股份有限责任公司</span>
									<span class="llsp qi">企</span>
									<span class="llsp wei">危</span>
									<span class="llsp jian">荐</span>
									<a href="##">进入店铺 ></a>
								</div>
								<div class="objGG">
									<span>
										<img src="../img/guige.png"/>
										规格：25kg/袋           
									</span>
									<span>
										<img src="../img/chundu.png"/>
										 纯度：98%
									</span>
									<div>
										<span>￥ 200.00 元/吨</span>
										<a href="##">立即询盘</a>
									</div>
								</div>
							</div>
							<div>
								<div class="supplierItem">
									<img src="../img/tuijian_pic.png"/>
									<span class="supplierName">新疆中顺鑫和供应链管理股份有限责任公司</span>
									<span class="llsp qi">企</span>
									<span class="llsp wei">危</span>
									<span class="llsp jian">荐</span>
									<a href="##">进入店铺 ></a>
								</div>
								<div class="objGG">
									<span>
										<img src="../img/guige.png"/>
										规格：25kg/袋           
									</span>
									<span>
										<img src="../img/chundu.png"/>
										 纯度：98%
									</span>
									<div>
										<span>￥ 200.00 元/吨</span>
										<a href="##">立即询盘</a>
									</div>
								</div>
							</div>
						</div>
						<a href="##" class="moreSupplier">查看全部5家企业 ></a>
					</div>
				</div>
			</div>
		</div>
		<div class="rtHotObj">
			<h2>热销产品</h2>
			<div class="hotObjBox">
				<div>
					<div class="htobjImg"></div>
					<p class="htName">氢氧化钠</p>
					<p class="htpirce">￥1440.00/吨</p>
				</div>
				<div>
					<div class="htobjImg"></div>
					<p class="htName">氢氧化钠</p>
					<p class="htpirce">￥1440.00/吨</p>
				</div>
				<div>
					<div class="htobjImg"></div>
					<p class="htName">氢氧化钠</p>
					<p class="htpirce">￥1440.00/吨</p>
				</div>
				<div>
					<div class="htobjImg"></div>
					<p class="htName">氢氧化钠</p>
					<p class="htpirce">￥1440.00/吨</p>
				</div>
			</div>
		</div>
	</div>


    <div class="mianCont" style="text-align: center;margin-top: 39px;">
        <ul class="pagination" id="page1"></ul>
        <div class="pageJump">
                <span class="allPageN">0/0</span>
                共0页，
            <span>到第</span>
            <input type="text"/>
            <span>页</span>
            <button type="button" class="button">GO</button>
        </div>
    </div>
    <script src="../js/footer.js"></script><!-- 公共底 -->
    <script src="../js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/pager.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/template.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/html" id="chemical"> 
		 <% for (i in list) { %>
		 	<div>
				<div class="objLeftInfo">
					<div class="objImg" style="background: url(<%=list[i].productPic%>) no-repeat;background-size:cover;background-position: center;"> <img src="../img/weiqi.png"/> </div>
					<h1 style="font-size: <%=list[i].chemicalName.length >= 15 ? '14' : '20'%>px;"><%=list[i].chemicalName%></h1>
					<div class="lfBtmInfo">
						<img src="../img/hazardousArticle.png"/>
						<p>管制类商品： </p>
						<p>第一类易制毒化学品</p>
					</div>
				</div>
				<div class="rtObjInfo">
					<p>CAS号： 84-74-2 </p>
					<p>别称：邻酞酸二丁酯、邻苯二甲酸二丁酯</p>
					<div class="schSupplierBox">
						<div>
							<div class="supplierItem">
								<img src="../img/tuijian_pic.png"/>
								<span class="supplierName">新疆中顺鑫和供应链管理股份有限责任公司</span>
								<span class="llsp qi">企</span>
								<span class="llsp wei">危</span>
								<span class="llsp jian">荐</span>
								<a href="##">进入店铺 ></a>
							</div>
							<div class="objGG">
								<span>
									<img src="../img/guige.png"/>
									规格：25kg/袋           
								</span>
								<span>
									<img src="../img/chundu.png"/>
									 纯度：98%
								</span>
								<div>
									<span>￥ 200.00 元/吨</span>
									<a href="##">立即询盘</a>
								</div>
							</div>
						</div>
						<div>
							<div class="supplierItem">
								<img src="../img/tuijian_pic.png"/>
								<span class="supplierName">新疆中顺鑫和供应链管理股份有限责任公司</span>
								<span class="llsp qi">企</span>
								<span class="llsp wei">危</span>
								<span class="llsp jian">荐</span>
								<a href="##">进入店铺 ></a>
							</div>
							<div class="objGG">
								<span>
									<img src="../img/guige.png"/>
									规格：25kg/袋           
								</span>
								<span>
									<img src="../img/chundu.png"/>
									 纯度：98%
								</span>
								<div>
									<span>￥ 200.00 元/吨</span>
									<a href="##">立即询盘</a>
								</div>
							</div>
						</div>
					</div>
					<a href="##" class="moreSupplier">查看全部5家企业 ></a>
				</div>
			</div>
		 <% } %>
	</script>
    <script type="text/javascript">
    		var seachName = localStorage.getItem('seachName');
    		
    		loadAjax('',1);
    		
    		function loadAjax(categoryName,pageNum){
    			$.ajax({ 
			      type:"get",
			      url:headerip+"product/glabolSearch",//v1.0
			      cache:false,
			      dataType: "json",
				  headers: {
				  	token: token
				  },
				  data:{
				  	name:seachName,
				  	categoryName:categoryName,
				  	pageSize:4,
				  	pageNum:pageNum
				  },
			      success: function(json){
			      	console.log(json.data);
			      	if(!json){
			        		return;
			      	}
			      	var typeStr = '';
			        $.each(json.data,function(i,t){
			        		//类别
			        		$.each(t.categoryList,function(i,t){
			        			typeStr+='<span>'+t.categoryName+'</sapn>';
			        		})
			        		$('.supplierType').append(typeStr);
			        		
			        })
			        var Dom =  template("chemical",{list:json.data});
	            		$('.schObjBox').append(Dom);
			      },
			      error:function(xhr,statues,error){
			          
			      }
			});
    		}
    	
        $('.objListBox>div:nth-child(5n)').css('margin-right','0');
        Page({
            num: 200,
            elem: $('#page1'),
            callback: function(n) {
                console.log(n);
            }
        });
        //拦截链接
	    $(document).on('click','a',function(e){
	       		e.preventDefault();
	       		var isOld = localStorage.getItem('isOld');
	       		if(isOld != '2'){
	       			var ttxt = $.trim($(this).text());
	       			console.log(ttxt);
	       			if(ttxt == '用户中心' || ttxt == '立即询盘' ){
	       				if(isOld == '1'){
	       					$('#effect .contTitle span').text('您尚未登录');
							missedLogin() ;
	       				}else if(isOld == '0'){
	       					missedLogin() ;
	       				}else if(isOld == '-1'){
	       					$('#effect .contTitle span').text('您尚未认证');
	       					$('#effect .contTitle i').text('认证');
	       					$('#popLogin').text('认证');
							missedLogin() ;
	       				}else if(isOld == '-2'){
	       					$('#effect .contTitle span').text('您的认证正在审核中');
	       					$('#effect .contTitle i').text('等待审核通过').css('color','#000');
	       					$('#popLogin').hide();
							missedLogin() ;
	       				}
	       			}else{
	       				window.location.href = this.href;
	       			}
	       		}else{
	       			window.location.href = this.href;
	       		}
	       })
    </script>
</body>
</html>