<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta http-equiv="Cache-Control" CONTENT="no-cache">
	    <meta http-equiv="Pragma" content="no-cache">
	    <meta name="format-detection" content="telephone=no" />
		<title adct="抢货">新疆化学品经营服务平台</title>
		<link rel="stylesheet" type="text/css" href="../css/swiper.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/mCustomScrollbar.css"/>
		<link rel="stylesheet" type="text/css" href="../css/index.css"/>
		<link rel="stylesheet" type="text/css" href="../css/home.css"/>
		<script src="../js/header.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/sale.css"/>
		<style type="text/css">
			.footerTop{
				margin-top: 0px;
				border-top: 4px #f5f5f5 solid;
			}
			.swiper-pagination{
				bottom: 14px;
			}

			.buying_a {
				width: 100%;
				height: 100%;
				display: inline-block;
				line-height: 48px;
			}
		</style>
	</head>
	<body>
		<!--抢货-->
		<div class="maxWidth bannerBox">
			<div class="swiper-container">
			    <div class="swiper-wrapper">
			        <!-- <div class="swiper-slide"></div>
			        <div class="swiper-slide"></div>
			        <div class="swiper-slide"></div> -->
			    </div>
			    <!-- 如果需要分页器 -->
   			 	<div class="swiper-pagination"></div>
			</div>
			<div class="mianCont leftTabBoxout">
				
			</div>
		</div>
		
		<div class="mianCont saleObjBox" id="listInfo">
			<!-- <div>
				<div class="compTit">
					<img src="../img/qhz.png" />
					<span>中泰中泰中泰</span>
				</div>
				<div class="saleObjInfo">
					<div class="saleObjImg"></div>
					<p> 起订量：10吨    </p>
					<p>纯  度：98%</p>
					<p>总  量：1000吨</p>
					<p>支付方式：现汇</p>
					<p>活动价：<span>￥13600.00元/吨</span></p>
				</div>
				<p class="saleTime"><img src="../img/saleTime.png"/>活动结束时间：<span>2017-12-14  17:00:21</span></p>
				<button>立即抢货</button>
			</div>
			<div>
				<div class="compTit">
					<img src="../img/jjks.png" />
					<span>中泰中泰中泰</span>
				</div>
				<div class="saleObjInfo">
					<div class="saleObjImg"></div>
					<p> 起订量：10吨    </p>
					<p>纯  度：98%</p>
					<p>总  量：1000吨</p>
					<p>支付方式：现汇</p>
					<p>活动价：<span>￥13600.00元/吨</span></p>
				</div>
				<p class="saleTime"><img src="../img/saleTime.png"/>活动结束时间：<span>2017-12-14  17:00:21</span></p>
				<button>立即抢货</button>
			</div>
			<div>
				<div class="compTit">
					<img src="../img/ysw.png" />
					<span>中泰中泰中泰</span>
				</div>
				<div class="saleObjInfo">
					<div class="saleObjImg"></div>
					<p> 起订量：10吨    </p>
					<p>纯  度：98%</p>
					<p>总  量：1000吨</p>
					<p>支付方式：现汇</p>
					<p>活动价：<span>￥13600.00元/吨</span></p>
				</div>
				<p class="saleTime"><img src="../img/saleTime.png"/>活动结束时间：<span>2017-12-14  17:00:21</span></p>
				<button>立即抢货</button>
			</div>
			<div>
				<div class="compTit">
					<img src="../img/qhz.png" />
					<span>中泰中泰中泰</span>
				</div>
				<div class="saleObjInfo">
					<div class="saleObjImg"></div>
					<p> 起订量：10吨    </p>
					<p>纯  度：98%</p>
					<p>总  量：1000吨</p>
					<p>支付方式：现汇</p>
					<p>活动价：<span>￥13600.00元/吨</span></p>
				</div>
				<p class="saleTime"><img src="../img/saleTime.png"/>活动结束时间：<span>2017-12-14  17:00:21</span></p>
				<button>立即抢货</button>
			</div>
			<div>
				<div class="compTit">
					<img src="../img/jjks.png" />
					<span>中泰中泰中泰</span>
				</div>
				<div class="saleObjInfo">
					<div class="saleObjImg"></div>
					<p> 起订量：10吨    </p>
					<p>纯  度：98%</p>
					<p>总  量：1000吨</p>
					<p>支付方式：现汇</p>
					<p>活动价：<span>￥13600.00元/吨</span></p>
				</div>
				<p class="saleTime"><img src="../img/saleTime.png"/>活动结束时间：<span>2017-12-14  17:00:21</span></p>
				<button>立即抢货</button>
			</div>
			<div>
				<div class="compTit">
					<img src="../img/ysw.png" />
					<span>中泰中泰中泰</span>
				</div>
				<div class="saleObjInfo">
					<div class="saleObjImg"></div>
					<p> 起订量：10吨    </p>
					<p>纯  度：98%</p>
					<p>总  量：1000吨</p>
					<p>支付方式：现汇</p>
					<p>活动价：<span>￥13600.00元/吨</span></p>
				</div>
				<p class="saleTime"><img src="../img/saleTime.png"/>活动结束时间：<span>2017-12-14  17:00:21</span></p>
				<button>立即抢货</button>
			</div>
			<div>
				<div class="compTit">
					<img src="../img/qhz.png" />
					<span>中泰中泰中泰</span>
				</div>
				<div class="saleObjInfo">
					<div class="saleObjImg"></div>
					<p> 起订量：10吨    </p>
					<p>纯  度：98%</p>
					<p>总  量：1000吨</p>
					<p>支付方式：现汇</p>
					<p>活动价：<span>￥13600.00元/吨</span></p>
				</div>
				<p class="saleTime"><img src="../img/saleTime.png"/>活动结束时间：<span>2017-12-14  17:00:21</span></p>
				<button>立即抢货</button>
			</div>
			<div>
				<div class="compTit">
					<img src="../img/jjks.png" />
					<span>中泰中泰中泰</span>
				</div>
				<div class="saleObjInfo">
					<div class="saleObjImg"></div>
					<p> 起订量：10吨    </p>
					<p>纯  度：98%</p>
					<p>总  量：1000吨</p>
					<p>支付方式：现汇</p>
					<p>活动价：<span>￥13600.00元/吨</span></p>
				</div>
				<p class="saleTime"><img src="../img/saleTime.png"/>活动结束时间：<span>2017-12-14  17:00:21</span></p>
				<button>立即抢货</button>
			</div>
			<div>
				<div class="compTit">
					<img src="../img/ysw.png" />
					<span>中泰中泰中泰</span>
				</div>
				<div class="saleObjInfo">
					<div class="saleObjImg"></div>
					<p> 起订量：10吨    </p>
					<p>纯  度：98%</p>
					<p>总  量：1000吨</p>
					<p>支付方式：现汇</p>
					<p>活动价：<span>￥13600.00元/吨</span></p>
				</div>
				<p class="saleTime"><img src="../img/saleTime.png"/>活动结束时间：<span>2017-12-14  17:00:21</span></p>
				<button>立即抢货</button>
			</div> -->
		</div>
		<div class="mianCont" style="text-align: center;">
		    <ul class="pagination" id="page1"></ul>
		    <div class="pageJump">
		    	 	<span class="allPageN">1/200</span>
		    	 	<span style="margin-left: 10px;">共<span class="total">200</span>页，</span>
		        <span>到第</span>
		        <input type="text" style="text-align: center;"/>
		        <span>页</span>
		        <button type="button" class="button">GO</button>
		    </div>
		</div>
		<script src="../js/footer.js" type="text/javascript" charset="utf-8"></script>
		<div class="fxd">
			<a href="##"><img src="../img/indexKefu.png" style="margin-top: 9px;"/> </a>
			<a href="##" id="showCd">
				<img src="../img/indexEcode.png"/> 
				<div class="showCode">
					<img src="../img/dingyuehao.png" />
				</div>
			</a>
			<a href="##" id="tousu"><img src="../img/indedxBi.png"/> </a>
			<a href="##" id="gotop"><img src="../img/indexDing.png"/> </a>
		</div>
		<div class="tsBg"></div>
		<div class="tsBox">
			<img src="../img/breadcrumbCloseIcon.png" id="colseAlert"/>
			<p>投诉建议</p>
			<div>
				<span>资讯类别</span>
				<select name="">
					<option value="建议">建议</option>
					<option value="投诉">投诉</option>
				</select>
			</div>
			<div>
				<span>联系人电话</span> <input type="text" placeholder="请输入手机号码"/>
			</div>
			<div>
				<span>联系人 </span><input type="text" placeholder="请输入联系人"/>
			</div>
			<div style="height: auto;">
				<span>问题描述 </span><textarea style="vertical-align: text-top;" placeholder="请输入您的问题"></textarea>
			</div>
			<div >
				<button>立即提交</button>
			</div>
		</div>
		
		<script src="../js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/template.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/pager.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/html" id="listTpl">
			<%for (i in list) {%>
			<div>
				<div class="compTit">
					<%if (list[i].iStatus == '1') {%>
					<img src="../img/qhz.png" />
					<%} else if (list[i].iStatus == '2') {%>
					<img src="../img/jjks.png" />
					<%} else if (list[i].iStatus == '3') {%>
					<img src="../img/ysw.png" />
					<%}%>
					<span><%=list[i].companyName%></span>
				</div>
				<div class="saleObjInfo">
					<div class="saleObjImg" style="background: url(<%=list[i].productPic%>) no-repeat; background-size: cover;"></div>
					<p> 起订量：<%=list[i].minAmount%>吨    </p>
					<p>纯  度：<%=list[i].productPurity%>%</p>
					<p>总  量：<%=list[i].sum%>吨</p>
					<%if (list[i].paymentMethod == '1') {%>
					<p>支付方式：现汇</p>
					<%} else if (list[i].paymentMethod == '2') {%>
					<p>支付方式：承兑汇票</p>
					<%} else if (list[i].paymentMethod == '3') {%>
					<p>支付方式：现汇+承兑</p>
					<%} else if (list[i].paymentMethod == '0') {%>
					<p>支付方式：不限</p>
					<%}%>
					<p>活动价：<span>￥<%=list[i].unitPrice%>元/吨</span></p>
				</div>
				<p class="saleTime"><img src="../img/saleTime.png"/>活动结束时间：<span><%=list[i].endTime%></span></p>
				<button><span class="buying_a" data-supplyId="<%=list[i].supplyId%>" data-createCompany="<%=list[i].createCompany%>" data-activityid="<%=list[i].activityId%>" data-rate="<%=list[i].rate%>" data-iStatus="<%list[i].iStatus%>">立即抢货</span></button>
			</div>
			<%}%>
		</script>
		<!-- banner -->
		<script type="text/html" id="bannerTm"> 
			<% for (i in list) { %>
			   <div class="swiper-slide" style="background: url(<%=list[i].url%>) no-repeat;background-size: cover;background-position: center;">
					   <a href="<%=list[i].link%>" style="display: block;width: 100%;height: 100%;"></a>
			   </div>
			<% } %>
	   </script>
		<script type="text/javascript" >  
			//banner
			$.ajax({
				type:"post",
		        url:pubIP+"advertisement/findAdvertisementByPosition",//v1.0
		        cache:false,
		        dataType: "json",
		        async:false,
		        headers: {
                    Accept: "application/json; charset=utf-8",
                    token: token
                },
                data: {
                	position: "F"
                },
		        success: function(data){
		        	console.log("++++++++++++++++");
		        	console.log(data);
		        	
					if (data&& data.F1.length > 0) {
						var result =  template("bannerTm",{list:data.F1});
						$('.swiper-wrapper').append(result);
						var mySwiper = new Swiper ('.swiper-container', {
							loop: true,
							autoplay : 5000,
							pagination: '.swiper-pagination',
							paginationClickable: true
						})
		        	}
		        },
		        error: function(err) {
		        	console.log(err);
		        }
		    });  

			$('.tsBg').height($(window).height());
			$('.saleObjBox>div:nth-child(3n)').css('margin-right','0');
			$('#colseAlert').click(function(){
				$('.tsBg').hide();
				$('.tsBox').hide();
			})
			$('#tousu').click(function(){
				$('.tsBg').show();
				$('.tsBox').fadeIn();
			})  
			

			$(document).on('click', '.buying_a', function () {

				window.localStorage.setItem('objid', $(this).attr('data-supplyid'));
				window.localStorage.setItem('activityId', $(this).attr('data-activityid'));
				window.localStorage.setItem('thisCompanyId', $(this).attr('data-createCompany'));
				window.localStorage.setItem('rate', $(this).attr('data-rate'));
				window.localStorage.setItem('iStatus', $(this).attr('data-iStatus'));

				window.location.href="buyingDetails.html";

			});

			var isFirst = true;

			qianghuoList(1);
			// 抢货列表
			function qianghuoList (num) {
				$.ajax({
		        	type: "post",
		            url: pubIP + "acticityApi/findActivityGoodsList",
		            headers: {
		                token: token
		            },
		            cache: false,
		            async:false,
		            data: {
		            	type: 2,
		            	pageNum: num,
		            	pageSize: 2
		            },
		            dataType: "json",
		            success: function(data){
						console.log(data);
				        // 分页
	                	if(data.code == '0'){
	                        $('.pageJump').hide();
	                        $('.shop_list_table tbody').html('');
	                        $('.notMsg').show();
	                        return false;
	                    } else if (data.code == '1') {

	                    	if (data.data != null) {
	                    		for (var i = 0; i < data.data.length; i++) {
									data.data[i].endTime = new Date(data.data[i].endTime).Format("yyyy-MM-dd hh:mm:ss"); 
									data.data[i].productPic = data.data[i].productPic.split(',')[0];
								}
								
								var result = template("listTpl",{list:data.data});
						        $('#listInfo').html(result);


		                    	if (isFirst) {

				                    Page({
			                            num: data.count,
			                            elem: $('#page1'),
			                            callback: function(n) {
			                                num = n;
			                                qianghuoList(n);
			                            }
			                        });

			                        console.log(data.data);
			                        
			                        $('.total').text(data.count);

			                        isFirst = false;
			                    }


			                    $('.allPageN').text(num+'/'+data.count);
	                    	} else {
	                    		$('.pageJump').css('display', 'none');
	                    	}

	                    }
						
		            },
		            error: function(err) {
		            	console.log(err);
		            }
		        });
			}

	       
	        // $(document).on('click','.saleObjBox>div>button',function(){
	       	// 	localStorage.setItem('objid',$(this).attr('objid'));
	       	// 	localStorage.setItem('thisCompanyId',$(this).attr('thisCmpId'));
	       	// 	location.href = '../obj/objDetails.html';
	        // })
	       
	        //拦截链接
	        $(document).on('click','a',function(e){
	        	if ($(this).find('span').text() != '物流服务') {
		       		e.preventDefault();
		       		var isOld = localStorage.getItem('isOld');
		       		if(isOld != '2'){
		       			var ttxt = $.trim($(this).text());
		       			console.log(ttxt);
		       			if(ttxt == '用户中心' || ttxt == '发布商品' || ttxt == '发布采购' || ttxt == '立即报价' || ttxt == '路线查询' || ttxt == '立即申请'){
		       				if(isOld == '1'){
		       					$('#effect .contTitle span').text('您尚未登录');
								missedLogin() ;
		       				}else if(isOld == '0'){
		       					missedLogin() ;
		       				}else if(isOld == '-1'){
		       					$('#effect .contTitle span').text('您尚未认证');
		       					$('#effect .contTitle i').text('认证');
		       					$('#popLogin').text('认证');
		       					$('#popLogin').addClass('qyrz_class');
								missedLogin() ;
		       				}else if(isOld == '-2'){
		      //  					$('#effect .contTitle span').text('您的认证正在审核中');
		      //  					$('#effect .contTitle i').text('等待审核通过').css('color','#000');
		      //  					$('#popLogin').hide();
								// missedLogin() ;

								window.location.href = this.href;
		       				}
		       			}else{
		       				window.location.href = this.href;
		       			}
		       		}else{
		       			window.location.href = this.href;
		       		}
		       	}
	        })

	        $(document).on('click', '.qyrz_class', function() {
		        sessionStorage.setItem('hzf_showPage', 'flag_qyrz');
		        window.location.href = "../account/account.html";
		    })
	  </script>
	</body>
</html>
