<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta http-equiv="Cache-Control" CONTENT="no-cache">
	    <meta http-equiv="Pragma" content="no-cache">
	    <meta name="format-detection" content="telephone=no" />
		<title adct="现货商城">新疆化学品经营服务平台</title>
		<link rel="stylesheet" type="text/css" href="../css/swiper.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/mCustomScrollbar.css"/>
		<link rel="stylesheet" type="text/css" href="../css/index.css"/>
		<link rel="stylesheet" type="text/css" href="../css/home.css"/>
		<script src="../js/header.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/spotGoods.css"/>
		<style type="text/css">
			/* .leftTabBox{
				display: block;
			} */
			/*.tabLinkMaxBox{
				border-bottom: none;
			}*/
			.objTxt{
				margin-top: 19px;
				font-size: 14px;
			}
			.objTxt>p{
				margin-bottom: 9px;
				max-height: 14px;
			}
			.supplierTit{
				margin-top: 35px;
			}
			.supplierBox>div{
				width: 408px;
				margin-right: 2px;
			}
			.supplierBox p.thisP_hzf{
				width: 210px;
				float: right;
				white-space:nowrap;
				text-overflow:ellipsis;
				overflow:hidden;
			}
			.yzhhBox>div+div+div+div{
				margin-bottom: 0;
			}
			.supplierBox{
				margin-bottom: 30px;
			}
			.supplier{
				margin-bottom: 30px;
			}
			.rsGoods>div{
				width: 346px;
				height: 245px;
				box-sizing: border-box;
			}
			.rsGoods>div:hover{
				cursor:pointer;
				box-shadow: 1px 2px 14px #ccc;
				-webkit-box-shadow:1px 2px 14px #ccc;
			    -moz-box-shadow: 1px 2px 14px #ccc;
			    -ms-box-shadow: 1px 2px 14px #ccc;
			    -o-box-shadow: 1px 2px 14px #ccc;
			}
			.xhSC .supplierBox>div{
				width: 244px;
				height: 115px;
				box-sizing: border-box;
			}
			.supplierBox .uzsj{
				position: absolute;
    				bottom: 10px;
			}
			.xhSC .supplierBox .supplierLogo{
				width: 227px;
			    margin-top: 8px;
			}
			.xhSC .supplierBox>div{
				margin-bottom: 0;
			}
			.xhSC .supplierBox>div:after{
				display: none;
			}
			.xhSC .supplierBox>div+div+div+div+div+div{
				border: 1px #e7e7e7 solid;
			}
			.xhSC .supplierBox>div{
				border: 1px #e7e7e7 solid;
			}
			.xhSC .supplierTit{
				background: #5992f3; 
    				color: #fff; 
    				margin-bottom: 0px;
    				font-weight: blod;
			}
			.footerTop{
				margin-top: 0px;
			}
			.xhSC{
				margin-bottom: 0px;
				padding-top: 30px;
			}
			.yzhhBox>div:hover{
				border: 1px #e7e7e7 solid;
			}
			.wcCtObjBox .hidetxt h3 span{
				color: #FC6721;
			}
			.wcCtObjBox .hidetxt h3{
				margin-top: 16px;
			}
			.rsGoods .price{
				margin-top:47px;
			}
			.rsGoods .price span{
				font-size: 19px;
			}
			.uztxt p{
				max-height: 14px;
				line-height: 14px;
				margin-bottom: 14.5px;
			}
			.wcleftBox button{
				line-height:inherit;
			}
			.swiper-pagination{
				bottom: 14px;
			}
			.hideInfo>button:hover{
				background: rgb(67,121,245);
			}
			.yzhhBox>div:nth-child(3n){
				margin-right: 0;
			}

			.hideInfo>button {
				font-size: 14px;
			}

			.supplierTit {
				margin-bottom: 0px;
			}

			.line_out {
				height: 1px;
				/* background-color: #E7E7E7;  */
				width: 100%;
				margin-bottom: 6px;
				margin-top: -1px;
			}

			.rsGoods .uzImg {
				margin-right: 15px;
			}
		</style>
	</head>
	<body>
		<!--现货商城-->
		<div class="maxWidth bannerBox">
			<div class="swiper-container">
			    <div class="swiper-wrapper">
			        <!-- <div class="swiper-slide"></div>
			        <div class="swiper-slide"></div>
			        <div class="swiper-slide"></div> -->
			    </div>
			    <!-- 如果需要分页器 -->
   			 	<div class="swiper-pagination"></div>
			</div>
			<div class="mianCont leftTabBoxout">
				
			</div>
		</div>
		<div class="mianCont supplier">
			<div class="supplierTit">优质好货</div>
			<div class="line_out"></div>
			<div class="supplierBox yzhhBox">
				<div>
					<img src="../img/wei.png"/>
					<div class="uzImg"></div>
					<p class="uzName">2-二环己基磷-2'-甲基联苯</p>
					<p> 规 格：25千克/袋 </p>
					<p>纯 度：25.25%</p>
					<div class="uzsj">供应商：北京格林凯默科技有限公司</div>
					<div class="hideInfo">
						<div></div>
						<button><a href="../obj/objDetails.html">立即询盘</a></button>
					</div>
				</div>
				<div>
					<img src="../img/wei.png"/>
					<div class="uzImg"></div>
					<p class="uzName">2-二环己基磷-2'-甲基联苯</p>
					<p> 规 格：25千克/袋 </p>
					<p>纯 度：25.25%</p>
					<div class="uzsj">供应商：北京格林凯默科技有限公司</div>
					<div class="hideInfo">
						<div></div>
						<button><a href="../obj/objDetails.html">立即询盘</a></button>
					</div>
				</div>
				<div>
					<img src="../img/wei.png"/>
					<div class="uzImg"></div>
					<p class="uzName">2-二环己基磷-2'-甲基联苯</p>
					<p> 规 格：25千克/袋 </p>
					<p>纯 度：25.25%</p>
					<div class="uzsj">供应商：北京格林凯默科技有限公司</div>
					<div class="hideInfo">
						<div></div>
						<button><a href="../obj/objDetails.html">立即询盘</a></button>
					</div>
				</div>
				<div>
					<img src="../img/wei.png"/>
					<div class="uzImg"></div>
					<p class="uzName">2-二环己基磷-2'-甲基联苯</p>
					<p> 规 格：25千克/袋 </p>
					<p>纯 度：25.25%</p>
					<div class="uzsj">供应商：北京格林凯默科技有限公司</div>
					<div class="hideInfo">
						<div></div>
						<button><a href="../obj/objDetails.html">立即询盘</a></button>
					</div>
				</div>
				<div>
					<img src="../img/wei.png"/>
					<div class="uzImg"></div>
					<p class="uzName">2-二环己基磷-2'-甲基联苯</p>
					<p> 规 格：25千克/袋 </p>
					<p>纯 度：25.25%</p>
					<div class="uzsj">供应商：北京格林凯默科技有限公司</div>
					<div class="hideInfo">
						<div></div>
						<button><a href="../obj/objDetails.html">立即询盘</a></button>
					</div>
				</div>
				<div>
					<img src="../img/wei.png"/>
					<div class="uzImg"></div>
					<p class="uzName">2-二环己基磷-2'-甲基联苯</p>
					<p> 规 格：25千克/袋 </p>
					<p>纯 度：25.25%</p>
					<div class="uzsj">供应商：北京格林凯默科技有限公司</div>
					<div class="hideInfo">
						<div></div>
						<button><a href="../obj/objDetails.html">立即询盘</a></button>
					</div>
				</div>
			</div>
			<img src="../img/AD.png" class="adImg adImg1" />
		</div>
		<div class="maxWidth webCn">
			<div class="mianCont" style="overflow: visible;">
				<!--<div class="wcTit"><span class="wcBigTit">现货商城</span><span class="wcSmTit">货源充足，大家买起来</span></div>-->
				<div class="wcObjBox">
					<div class="wcleftBox xianhuo_lft01">
						<!--<div class="wcleftBoxTit">
							<img src="../img/wcTitImg.jpg"/>
							<p>热货现搜</p>
							<img src="../img/wcTitImg.jpg"/>
						</div>
						<div class="wcObjType">有机化学品</div>
						<a href="../search/productNameSearch_precise.html">氨基酸</a>
						<a href="../search/productNameSearch_precise.html">二氧化硫</a>
						<div class="wcObjType">无机化学品</div>
						<a href="../search/productNameSearch_precise.html">氨基酚</a>
						<a href="../search/productNameSearch_precise.html">盐酸－2－氨基酚</a>
						<a href="../shopManage/addShop.html"><button>发布商品</button></a>-->
					</div>
					<div class="wcCenterBox">
						
						<div class="wcCtObjBox spotTj1">
							<div>
								<div>
									<a href="../obj/objDetails.html">
										<div class="redRT">危</div>
										<div class="objImg" style="background: url(../img/objDemo.png) no-repeat;background-size:cover ;background-position:center ;"></div>
										<div class="objTxt">
											<p>6880元/吨</p>
											<span>中顺鑫和供应链管理</span>
										</div>
										<div class="hideInfo">
											<div></div>
											<div class="hidetxt">
												<p>纯度：—  </p>
												<p>级别：工业级</p>
												<p>规格：25kg/箱</p>
												<h3>价格：<span>¥550.00箱</span></h3>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div>
								<div>
									<a href="../obj/objDetails.html">
										<div class="redRT">危</div>
										<div class="objImg" style="background: url(../img/objDemo.png) no-repeat;background-size:cover ;background-position:center ;"></div>
										<div class="objTxt">
											<p>6880元/吨</p>
											<span>中顺鑫和供应链管理</span>
										</div>
										<div class="hideInfo">
											<div></div>
											<div class="hidetxt">
												<p>纯度：—  </p>
												<p>级别：工业级</p>
												<p>规格：25kg/箱</p>
												<h3>价格：<span>¥550.00箱</span></h3>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div>
								<div>
									<a href="../obj/objDetails.html">
										<div class="redRT">危</div>
										<div class="objImg" style="background: url(../img/objDemo.png) no-repeat;background-size:cover ;background-position:center ;"></div>
										<div class="objTxt">
											<p>6880元/吨</p>
											<span>中顺鑫和供应链管理</span>
										</div>
										<div class="hideInfo">
											<div></div>
											<div class="hidetxt">
												<p>纯度：—  </p>
												<p>级别：工业级</p>
												<p>规格：25kg/箱</p>
												<h3>价格：<span>¥550.00箱</span></h3>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div>
								<div>
									<a href="../obj/objDetails.html">
										<div class="redRT">危</div>
										<div class="objImg" style="background: url(../img/objDemo.png) no-repeat;background-size:cover ;background-position:center ;"></div>
										<div class="objTxt">
											<p>6880元/吨</p>
											<span>中顺鑫和供应链管理</span>
										</div>
										<div class="hideInfo">
											<div></div>
											<div class="hidetxt">
												<p>纯度：—  </p>
												<p>级别：工业级</p>
												<p>规格：25kg/箱</p>
												<h3>价格：<span>¥550.00箱</span></h3>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div>
								<div>
									<a href="../obj/objDetails.html">
										<div class="redRT">危</div>
										<div class="objImg" style="background: url(../img/objDemo.png) no-repeat;background-size:cover ;background-position:center ;"></div>
										<div class="objTxt">
											<p>6880元/吨</p>
											<span>中顺鑫和供应链管理</span>
										</div>
										<div class="hideInfo">
											<div></div>
											<div class="hidetxt">
												<p>纯度：—  </p>
												<p>级别：工业级</p>
												<p>规格：25kg/箱</p>
												<h3>价格：<span>¥550.00箱</span></h3>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div>
								<div>
									<a href="../obj/objDetails.html">
										<div class="redRT bluebg">普</div>
										<div class="objImg" style="background: url(../img/objDemo.png) no-repeat;background-size:cover ;background-position:center ;"></div>
										<div class="objTxt">
											<p>6880元/吨</p>
											<span>中顺鑫和供应链管理</span>
										</div>
										<div class="hideInfo">
											<div></div>
											<div class="hidetxt">
												<p>纯度：—  </p>
												<p>级别：工业级</p>
												<p>规格：25kg/箱</p>
												<h3>价格：<span>¥550.00箱</span></h3>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div>
								<div>
									<a href="../obj/objDetails.html">
										<div class="redRT bluebg">普</div>
										<div class="objImg" style="background: url(../img/objDemo.png) no-repeat;background-size:cover ;background-position:center ;"></div>
										<div class="objTxt">
											<p>6880元/吨</p>
											<span>中顺鑫和供应链管理</span>
										</div>
										<div class="hideInfo">
											<div></div>
											<div class="hidetxt">
												<p>纯度：—  </p>
												<p>级别：工业级</p>
												<p>规格：25kg/箱</p>
												<h3>价格：<span>¥550.00箱</span></h3>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div>
								<div>
									<a href="../obj/objDetails.html">
										<div class="redRT bluebg">普</div>
										<div class="objImg" style="background: url(../img/objDemo.png) no-repeat;background-size:cover ;background-position:center ;"></div>
										<div class="objTxt">
											<p>6880元/吨</p>
											<span>中顺鑫和供应链管理</span>
										</div>
										<div class="hideInfo">
											<div></div>
											<div class="hidetxt">
												<p>纯度：—  </p>
												<p>级别：工业级</p>
												<p>规格：25kg/箱</p>
												<h3>价格：<span>¥550.00箱</span></h3>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div>
								<div>
									<a href="../obj/objDetails.html">
										<div class="redRT bluebg">普</div>
										<div class="objImg" style="background: url(../img/objDemo.png) no-repeat;background-size:cover ;background-position:center ;"></div>
										<div class="objTxt">
											<p>6880元/吨</p>
											<span>中顺鑫和供应链管理</span>
										</div>
										<div class="hideInfo">
											<div></div>
											<div class="hidetxt">
												<p>纯度：—  </p>
												<p>级别：工业级</p>
												<p>规格：25kg/箱</p>
												<h3>价格：<span>¥550.00箱</span></h3>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div>
								<div>
									<a href="../obj/objDetails.html">
										<div class="redRT bluebg">普</div>
										<div class="objImg" style="background: url(../img/objDemo.png) no-repeat;background-size:cover ;background-position:center ;"></div>
										<div class="objTxt">
											<p>6880元/吨</p>
											<span>中顺鑫和供应链管理</span>
										</div>
										<div class="hideInfo">
											<div></div>
											<div class="hidetxt">
												<p>纯度：—  </p>
												<p>级别：工业级</p>
												<p>规格：25kg/箱</p>
												<h3>价格：<span>¥550.00箱</span></h3>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<img src="../img/AD.png" class="adImg adImg2" />
				<div class="wcObjBox" style="overflow: visible;">
					<div class="wcleftBox xianhuo_lft02" style="margin-right: 8px;height: 491px;">
						<!--<div class="wcleftBoxTit">
							<img src="../img/wcTitImg.jpg"/>
							<p>热货现搜</p>
							<img src="../img/wcTitImg.jpg"/>
						</div>
						<div class="wcObjType">有机化学品</div>
						<a href="../search/productNameSearch_precise.html">氨基酸</a>
						<a href="../search/productNameSearch_precise.html">二氧化硫</a>
						<div class="wcObjType">无机化学品</div>
						<a href="../search/productNameSearch_precise.html">氨基酚</a>
						<a href="../search/productNameSearch_precise.html">氨基酚</a>
						<a href="../shopManage/addShop.html"><button>发布商品</button></a>-->
					</div>
					<div class="wcCenterBox" style="width: 1042px;height: 491px;overflow: visible;">
						<div class="supplierBox rsGoods" style="overflow: visible;">
							<div>
								<img src="../img/wei.png"/>
								<div class="uztit">2-二环己基磷-2'-甲基联苯 </div>
								<div class="uzImg"></div>
								<div class="uztxt">
									<p>纯度：98% </p>
									<p> 规格：25.0千克/袋 </p>
									<p>产地：中泰化学</p>
									<p class="price">￥13600.00元/吨</p>
								</div>
								<div class="uzsj">供应商：北京格林凯默科技有限公司</div>
							</div>
							<div>
								<img src="../img/wei.png"/>
								<div class="uztit">2-二环己基磷-2'-甲基联苯 </div>
								<div class="uzImg"></div>
								<div class="uztxt">
									<p>纯度：98% </p>
									<p> 规格：25.0千克/袋 </p>
									<p>产地：中泰化学</p>
									<p class="price">￥13600.00元/吨</p>
								</div>
								<div class="uzsj">供应商：北京格林凯默科技有限公司</div>
							</div>
							<div>
								<img src="../img/wei.png"/>
								<div class="uztit">2-二环己基磷-2'-甲基联苯 </div>
								<div class="uzImg"></div>
								<div class="uztxt">
									<p>纯度：98% </p>
									<p> 规格：25.0千克/袋 </p>
									<p>产地：中泰化学</p>
									<p class="price">￥13600.00元/吨</p>
								</div>
								<div class="uzsj">供应商：北京格林凯默科技有限公司</div>
							</div>
							<div>
								<img src="../img/wei.png"/>
								<div class="uztit">2-二环己基磷-2'-甲基联苯 </div>
								<div class="uzImg"></div>
								<div class="uztxt">
									<p>纯度：98% </p>
									<p> 规格：25.0千克/袋 </p>
									<p>产地：中泰化学</p>
									<p class="price">￥13600.00元/吨</p>
								</div>
								<div class="uzsj">供应商：北京格林凯默科技有限公司</div>
							</div>
							<div>
								<img src="../img/wei.png"/>
								<div class="uztit">2-二环己基磷-2'-甲基联苯 </div>
								<div class="uzImg"></div>
								<div class="uztxt">
									<p>纯度：98% </p>
									<p> 规格：25.0千克/袋 </p>
									<p>产地：中泰化学</p>
									<p class="price">￥13600.00元/吨</p>
								</div>
								<div class="uzsj">供应商：北京格林凯默科技有限公司</div>
							</div>
							<div>
								<img src="../img/wei.png"/>
								<div class="uztit">2-二环己基磷-2'-甲基联苯 </div>
								<div class="uzImg"></div>
								<div class="uztxt">
									<p>纯度：98% </p>
									<p> 规格：25.0千克/袋 </p>
									<p>产地：中泰化学</p>
									<p class="price">￥13600.00元/吨</p>
								</div>
								<div class="uzsj">供应商：北京格林凯默科技有限公司</div>
							</div>
						</div>
					</div>
				</div>
			</div>
				<div class="mianCont supplier xhSC">
					<div class="supplierTit">热门供应商</div>
					<div class="supplierBox">
						<!-- <div>
							<a href="##"><div class="supplierLogo" style="background: url(../img/gys1.png) no-repeat; background-position: center;background-size:contain ;"></div></a>
							 
						</div>
						<div>
							<a href="##"><div class="supplierLogo" style="background: url(../img/gys2.png) no-repeat; background-position: center;background-size:contain ;"></div></a>
							 
						</div>
						<div>
							<a href="##"><div class="supplierLogo" style="background: url(../img/gys3.png) no-repeat; background-position: center;background-size:contain ;"></div></a>
							 
						</div>
						<div>
							<a href="##"><div class="supplierLogo" style="background: url(../img/gys4.png) no-repeat; background-position: center;background-size:contain ;"></div></a>
							 
						</div>
						<div>
							<a href="##"><div class="supplierLogo" style="background: url(../img/gys5.png) no-repeat; background-position: center;background-size:contain ;"></div></a>
							 
						</div>
						<div>
							<a href="##"><div class="supplierLogo" style="background: url(../img/gys6.png) no-repeat; background-position: center;background-size:contain ;"></div></a>
							 
						</div>
						<div>
							<a href="##"><div class="supplierLogo" style="background: url(../img/gys7.png) no-repeat; background-position: center;background-size:contain ;"></div></a>
							 
						</div>
						<div>
							<a href="##"><div class="supplierLogo" style="background: url(../img/gys8.png) no-repeat; background-position: center;background-size:contain ;"></div></a>
							 
						</div>
						<div>
							<a href="##"><div class="supplierLogo" style="background: url(../img/gys9.png) no-repeat; background-position: center;background-size:contain ;"></div></a>
							 
						</div>
						<div>
							<a href="##"><div class="supplierLogo" style="background: url(../img/gys10.png) no-repeat; background-position: center;background-size:contain ;"></div></a>
							 
						</div> -->
					</div>
			</div>
		</div>
		
		<script src="../js/footer.js" type="text/javascript" charset="utf-8"></script>
		<div class="fxd">
			<a href="##"><img src="../img/indexKefu.png" style="margin-top: 9px;"/> </a>
			<a href="##" id="showCd">
				<img src="../img/indexEcode.png"/> 
				<div class="showCode">
					<img src="../img/dingyuehao.png" />
				</div>
			</a>
			<a href="##" id="tousu"><img src="../img/indedxBi.png"/> </a>
			<a href="##" id="gotop"><img src="../img/indexDing.png"/> </a>
		</div>
		<div class="tsBg"></div>
		<div class="tsBox">
			<img src="../img/breadcrumbCloseIcon.png" id="colseAlert"/>
			<p>投诉建议</p>
			<div>
				<span>资讯类别</span>
				<select name="">
					<option value="建议">建议</option>
					<option value="投诉">投诉</option>
				</select>
			</div>
			<div>
				<span>联系人电话</span> <input type="text" placeholder="请输入手机号码"/>
			</div>
			<div>
				<span>联系人 </span><input type="text" placeholder="请输入联系人"/>
			</div>
			<div style="height: auto;">
				<span>问题描述 </span><textarea style="vertical-align: text-top;" placeholder="请输入您的问题"></textarea>
			</div>
			<div >
				<button>立即提交</button>
			</div>
		</div>
		<script src="../js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/template.js" type="text/javascript" charset="utf-8"></script>
		<!-- //banner -->
		<script type="text/html" id="bannerTm"> 
			<% for (i in list) { %>
				<div class="swiper-slide" style="background: url(<%=list[i].url%>) no-repeat;background-size: cover;background-position: center;">
						<a href="<%=list[i].link%>" style="display: block;width: 100%;height: 100%;"></a>
				</div>
			<% } %>
		</script>
		<script type="text/html" id="objNice"> 
			 <% for (i in list) { %>
                	<div>
						<%if( list[i].chemicalDangerFlag == 1){%>
							<img src="../img/pu.png">
						<%}else if(list[i].chemicalDangerFlag == 2){%>
							<img src="../img/wei.png">
						<%}else if(list[i].chemicalDangerFlag == 3){%>
							<img src="../img/te.png">
						<%}%>
						<div class="uzImg" style="background: url(<%=list[i].productPicList[0]%>) no-repeat;background-size:cover;background-position:center;background-color: #f0f0f0;"></div>
						<p class="uzName thisP_hzf" title="<%=list[i].productName%>"><%=list[i].productName%></p>
						<p class="thisP_hzf"> 规 格：<%=list[i].productSpecUnitStr%></p>
						<p class="thisP_hzf">纯 度：<%=list[i].productPurity%>%</p>
						<div class="uzsj">供应商：<%=list[i].companyName%></div>
						<div class="hideInfo">
							<div></div>
							<button objid="<%=list[i].supplyId%>" thisCmpId="<%=list[i].publishCompanyId%>">立即询盘</button>
						</div>
					</div>
		     <% } %>
		</script>
		<script type="text/html" id="objTj1"> 
			 <% for (i in list) { %>
                	<div objid="<%=list[i].supplyId%>" thisCmpId="<%=list[i].publishCompanyId%>">
					<div>
						<%if( list[i].chemicalDangerFlag == 1){%>
							<img style="position: absolute;" src="../img/pu.png">
						<%}else if(list[i].chemicalDangerFlag == 2){%>
							<img style="position: absolute;" src="../img/wei.png">
						<%}else if(list[i].chemicalDangerFlag == 3){%>
							<img style="position: absolute;" src="../img/te.png">
						<%}%>
						<div class="objImg" style="background: url(<%=list[i].productPicList[0]%>) no-repeat;background-size:cover ;background-position:center ;"></div>
						<div class="objTxt">
							<p class="pcep"><%=list[i].unitPrice%> 元/吨</p>
							<span style="color: #666;display: inline-block;width: 100%;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;"><%=list[i].productName%> </span>
						</div>
						<div class="hideInfo">
							<div></div>
							<div class="hidetxt">
								<p>纯度：<%=list[i].productPurity%>%</p>
								<p>级别：<%=list[i].levelName%></p>
								<p>规格：<%=list[i].productSpecUnitStr%></p>
								<h3>价格：¥ <span><%=list[i].unitPrice%> </span>/吨</h3>
							</div>
						</div>
					</div>
				</div>
		     <% } %>
		</script>
		<script type="text/html" id="objTj2"> 
			 <% for (i in list) { %>
                <div objid="<%=list[i].supplyId%>" thisCmpId="<%=list[i].publishCompanyId%>" style="border:1px solid #f5f5f5;">
					<%if( list[i].chemicalDangerFlag == 1){%>
						<img src="../img/pu.png">
					<%}else if(list[i].chemicalDangerFlag == 2){%>
						<img src="../img/wei.png">
					<%}else if(list[i].chemicalDangerFlag == 3){%>
						<img src="../img/te.png">
					<%}%>
					<div class="uztit" title="<%=list[i].productName%>"><%=list[i].productName%> </div>
					<div class="uzImg"  style="background: url(<%=list[i].productPicList[0]%>) no-repeat;background-size:cover ;background-position:center ;"></div>
					<div class="uztxt">
						<p>纯度： <%=list[i].productPurity%>%</p>
						<p> 规格：<%=list[i].productSpecUnitStr%> </p>
						<p>产地：<%=list[i].productOrigin%> </p>
						<p class="price">￥ <span><%=list[i].unitPrice%></span> 元/吨</p>
					</div>
					<div class="uzsj">供应商：<%=list[i].companyName%> </div>
				</div>
		     <% } %>
		</script>
		<script type="text/javascript" >

			$('.tsBg').height($(window).height());
			$('.yzhhBox>div:nth-child(3n)').css('margin-right','0');
			
			$(document).on('mouseover','.spotTj1>div',function(){
				$(this).find('.pcep').css('opacity','0');
				$(this).find('.hideInfo').show();
				$('.wcCtObjBox>div').css('cursor','pointer');
			})
			$(document).on('mouseleave','.spotTj1>div',function(){
				$(this).find('.pcep').css('opacity','1');
				$(this).find('.hideInfo').hide();
			})
			
			     
			$('#colseAlert').click(function(){
				$('.tsBg').hide();
				$('.tsBox').hide();
			})
			$('#tousu').click(function(){
				$('.tsBg').show();
				$('.tsBox').fadeIn();
			})
			
			//优质好货
			$.ajax({ 
	          type:"get",
	          url:pubIP+"productApi/getProductListByQuality",//v1.0
	          cache:false,
	          dataType: "json",
			  headers: {
			  	token: token
			  },
	          data:{
	        	  'size':'6'
	          },
	          success: function(json){
	            console.log(json);
	            if(json.code != 1){
	            		alert(json.msg);
	            		return false;
	            }
	            var result =  template("objNice",{list:json.data});
	            $('.yzhhBox').html(result);
	            $('.yzhhBox>div:nth-child(3n)').css('margin-right','0');
	          },
	          error:function(xhr,statues,error){
	              
	          }
	       });
	       //推荐1
			$.ajax({ 
	          type:"get",
	          url:pubIP+"productApi/getProductListByRecommend",//v1.0
	          cache:false,
	          dataType: "json",
			  headers: {
			  	token: token
			  },
	          data:{
	        	  'size':'10',
	        	  'place':2
	          },
	          success: function(json){
	            console.log(json);
	            console.log(json+"=============================");
	            if(json.code != 1){
	            		alert(json.msg);
	            		return false;
	            }
	            var result =  template("objTj1",{list:json.data});
	            $('.spotTj1').html(result);
	          },
	          error:function(xhr,statues,error){
	              
	          }
	       });
	       //推荐2
			$.ajax({ 
	          type:"get",
	          url:pubIP+"productApi/getProductListByRecommend",//v1.0
	          cache:false,
	          dataType: "json",
			  headers: {
			  	token: token
			  },
	          data:{
	        	  'size':'6',
	        	  'place':3
	          },
	          success: function(json){
	            console.log(json);
	            if(json.code != 1){
	            		alert(json.msg);
	            		return false;
	            }
	            var result =  template("objTj2",{list:json.data});
	            $('.rsGoods').html(result);
	            $('.rsGoods>div:nth-child(3n)').css('margin-right','0');
	          },
	          error:function(xhr,statues,error){
	              
	          }
	       });
	       
	       $(document).on('click','.rsGoods>div,.spotTj1>div,.hideInfo button',function(){
	       		localStorage.setItem('objid',$(this).attr('objid'));
	       		localStorage.setItem('thisCompanyId',$(this).attr('thisCmpId'));
	       		location.href = '../obj/objDetails.html';
	       })

	        //热门供应商列表
			// $.ajax({
			// 	type:"post",
		 //        url:pubIP+"store/getStoreWithHome",//v1.0
		 //        cache:false,
		 //        dataType: "json",
		 //        async:false,
		 //        headers: {
   //                  Accept: "application/json; charset=utf-8",
   //                  token: token
   //              },
		 //        success: function(data){
		 //        	console.log(data);

		 //        	var str = '';
		 //        	if (data.data && data.data.length > 0) {

		 //        		for (var i = 0; i < data.data.length; i++) {
		 //        			str += '<div data-companyId="'+data.data[i].companyId+'"  data-storeId="'+data.data[i].storeId+'">'
			// 						+'<a href="javascript:;"><div class="supplierLogo" style="background: url('+data.data[i].storeImage+') no-repeat; background-position: center;background-size:contain ;"></div></a>'
			// 					+'</div>';
		 //        		}

		 //        		$('.supplierBox').html(str);
		 //        	}
		 //        },
		 //        error: function(err) {
		 //        	console.log(err);
		 //        }
			// });

			// $(document).on('click','.xhSC .supplierBox div', function () {
			// 	window.localStorage.setItem('thisCompanyId', $(this).attr('data-companyId'));
			// 	window.location.href="../shopManage/storeIndex.html";
			// });
			
			
			//广告位
			$.ajax({
				type:"post",
		        url:pubIP+"advertisement/findAdvertisementByPosition",//v1.0
		        cache:false,
		        dataType: "json",
		        async:false,
		        headers: {
                    Accept: "application/json; charset=utf-8",
                    token: token
                },
                data: {
                	position: "B"
                },
		        success: function(data){
		        	console.log("++++++++++++++++");
		        	console.log(data);
		        	var advertise6 = '';
		        	
					if (data&& data.B1.length > 0) {
						var result =  template("bannerTm",{list:data.B1});
						$('.swiper-wrapper').append(result);
						var mySwiper = new Swiper ('.swiper-container', {
							loop: true,
							autoplay : 5000,
							pagination: '.swiper-pagination',
							paginationClickable: true
						})
		        	}
		        	if (data&& data.B21.length > 0) {
						$('.adImg1').attr("src",data.B21[0].url);
		        	}
		        	if (data&& data.B22.length > 0) {
		        		$('.adImg2').attr("src",data.B22[0].url);
		        	}
		        	if (data&& data.B31.length > 0) {
		        		for (var i = 0; i < data.B31.length; i++) {
		        			$(".xianhuo_lft01").css({
													background:"url("+data.B31[0].url+") 0 0 no-repeat",
													backgroundSize: "100% 100%",
												});
		        		}
		        	}
		        	if (data&& data.B32.length > 0) {
		        		for (var i = 0; i < data.B32.length; i++) {
		        			$(".xianhuo_lft02").css({
													background:"url("+data.B32[0].url+") 0 0 no-repeat",
													backgroundSize: "100% 100%",
												});
		        		}
		        	}
		        	if (data&& data.B4.length > 0) {
		        		for (var i = 0; i < data.B4.length; i++) {
		        			advertise6 += '<div data-companyId="'+data.B4[i].companyId+'">'
									+'<a href="javascript:;"><div class="supplierLogo" style="background: url('+data.B4[i].url+') no-repeat; background-position: center;background-size:contain ;"></div></a>'
								+'</div>';
		        		}
		        		$('.supplierBox').html(advertise6);
		        	}
		        },
		        error: function(err) {
		        	console.log(err);
		        }
		    });
			
		    $(document).on('click','.xhSC .supplierBox div', function () {
				window.localStorage.setItem('thisCompanyId', $(this).attr('data-companyid'));
				window.location.href="../shopManage/storeIndex.html";
			});
	       
	       //拦截链接
	       $(document).on('click','a',function(e){
	       		e.preventDefault();
	       		var isOld = localStorage.getItem('isOld');
	       		if(isOld != '2'){
	       			var ttxt = $.trim($(this).text());
	       			console.log(ttxt);
	       			if(ttxt == '用户中心' || ttxt == '发布商品' || ttxt == '发布采购' || ttxt == '立即报价' || ttxt == '路线查询' || ttxt == '立即申请'){
	       				if(isOld == '1'){
	       					$('#effect .contTitle span').text('您尚未登录');
							missedLogin() ;
	       				}else if(isOld == '0'){
	       					missedLogin() ;
	       				}else if(isOld == '-1'){
	       					$('#effect .contTitle span').text('您尚未认证');
	       					$('#effect .contTitle i').text('认证');
	       					$('#popLogin').text('认证');
	       					$('#popLogin').addClass('qyrz_class');
							missedLogin() ;
	       				}
	       				else if(isOld == '-2'){
	      //  					$('#effect .contTitle span').text('您的认证正在审核中');
	      //  					$('#effect .contTitle i').text('等待审核通过').css('color','#000');
	      //  					$('#popLogin').hide();
							// missedLogin() ;

							window.location.href = this.href;
	       				}
	       			}else{
	       				window.location.href = this.href;
	       			}
	       		}else{
	       			window.location.href = this.href;
	       		}
	       })

	        $(document).on('click', '.qyrz_class', function() {
				sessionStorage.setItem('hzf_showPage', 'flag_qyrz');
				window.location.href = "../account/account.html";
			})
	  </script>
	</body>
</html>
