<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="format-detection" content="telephone=no" />
	<title adct="会员商城">新疆化学品经营服务平台</title>
	<link rel="stylesheet" type="text/css" href="../css/index.css"/>
	<link rel="stylesheet" type="text/css" href="../css/home.css"/>
	<link rel="stylesheet" type="text/css" href="../css/common.css"/>
	<link rel="stylesheet" type="text/css" href="../css/swiper.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/mCustomScrollbar.css"/>
	<link rel="stylesheet" type="text/css" href="../css/memberOfTheMall/memberOfTheMall.css"/>
	<script src="../js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/header.js" type="text/javascript" charset="utf-8"></script>
</head>
<style>
	.seachBox input[type='text']#seachIpt {
		height: 32px;
	    width: 458px;
	    outline: none;
	    border: none;
	    padding-left: 15px;
	    font-size: 12px;
	    margin-top: 3px;
	    margin-left: 3px;
	    border-radius:0 ;
	}
</style>
<body>
	<!-- 会员商城页面 -->
	<div style="position: relative;">
		<div class="maxWidth bannerBox">
			<div class="swiper-container">
			    <div class="swiper-wrapper">
			        <!-- <div class="swiper-slide"></div>
			        <div class="swiper-slide"></div>
			        <div class="swiper-slide"></div> -->
			    </div>
			    <!-- 如果需要分页器 -->
				 	<div class="swiper-pagination"></div>
			</div>
			<div class="mianCont leftTabBoxout">
				<div class="member_top">
					<div class="member_width">
						<div class="member_info">
							<div class="white_bg clearfix">
								<div class="fl member_logo">
									<img src="../img/member_logo.png" alt="">
									<div class="yellow_member">
										<img src="../img/zuanshi.png" alt="">
										<span>黄金会员</span>
									</div>
								</div>
								<div class="fl member_info2" style="width: 227px;">
									<p>Hi，<span>郑晓娜来兑换吧</span></p>
									<p>企业积分：9999积分</p>
									<p>个人积分：9999积分</p>
									<p>成长值：<span class="progress_bg"><span></span></span></p>
								</div>
							</div>
							<div class="gay_bottom">
								<ul >
									<li>
										<span class="service_title">广告宣传</span>
										<span>平台广告</span>
										<span>推广服务</span>
										<span>设计服务</span>
									</li>
									<li>
										<span class="service_title">积分礼品</span>
										<span>家居用品</span>
										<span>办公用品</span>
									</li>
									<li>
										<span class="service_title">积分礼品</span>
										<span>家居用品</span>
										<span>办公用品</span>
									</li>
									<li>
										<span class="service_title">积分礼品</span>
										<span>家居用品</span>
										<span>办公用品</span>
									</li>
								</ul>
								<div class="more_info"><a href="memberOfTheMallMore.html">查看更多<img src="../img/more_icon.png" alt=""></a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	

	<div class="fa">
		<div class="member_width">
			<div class="member_list clearfix">
				<span class="member_title">广告宣传</span>
				<ul class="clearfix" style="display: inline-block;">
					<li class="current">平台广告</li>
					<li>推广服务</li>
					<li>设计服务</li>
				</ul>
			</div>
			<div class="member_content">
				<ul class="clearfix">
					<li>
						<img class="wei_icon" src="../img/wei.png" alt="">
						<img class="img_pic" src="../img/huafei_big_pic.png" alt="">
						<p class="shop_name">商品名称</p>
						<p class="integral_money">1888积分+6880元</p>
						<span class="duihuan_button"><img src="../img/duihuan_button.png" alt=""></span>
					</li>
					<li>
						<img class="wei_icon" src="../img/wei.png" alt="">
						<img src="../img/huafei_big_pic.png" alt="">
						<p class="shop_name">商品名称</p>
						<p class="integral_money">1888积分+6880元</p>
						<span class="duihuan_button"><img src="../img/duihuan_button.png" alt=""></span>
					</li>
					<li>
						<img class="wei_icon" src="../img/wei.png" alt="">
						<img src="../img/huafei_big_pic.png" alt="">
						<p class="shop_name">商品名称</p>
						<p class="integral_money">1888积分+6880元</p>
						<span class="duihuan_button"><img src="../img/duihuan_button.png" alt=""></span>
					</li>
					<li>
						<img class="wei_icon" src="../img/wei.png" alt="">
						<img src="../img/huafei_big_pic.png" alt="">
						<p class="shop_name">商品名称</p>
						<p class="integral_money">1888积分+6880元</p>
						<span class="duihuan_button"><img src="../img/duihuan_button.png" alt=""></span>
					</li>
					<li>
						<img class="wei_icon" src="../img/wei.png" alt="">
						<img src="../img/huafei_big_pic.png" alt="">
						<p class="shop_name">商品名称</p>
						<p class="integral_money">1888积分+6880元</p>
						<span class="duihuan_button"><img src="../img/duihuan_button.png" alt=""></span>
					</li>
					<li>
						<img class="wei_icon" src="../img/wei.png" alt="">
						<img src="../img/huafei_big_pic.png" alt="">
						<p class="shop_name">商品名称</p>
						<p class="integral_money">1888积分+6880元</p>
						<span class="duihuan_button"><img src="../img/duihuan_button.png" alt=""></span>
					</li>
					<li>
						<img class="wei_icon" src="../img/pu.png" alt="">
						<img src="../img/huafei_big_pic.png" alt="">
						<p class="shop_name">商品名称</p>
						<p class="integral_money">1888积分+6880元</p>
						<span class="duihuan_button"><img src="../img/duihuan_button.png" alt=""></span>
					</li>
					<li>
						<img class="wei_icon" src="../img/pu.png" alt="">
						<img src="../img/huafei_big_pic.png" alt="">
						<p class="shop_name">商品名称</p>
						<p class="integral_money">1888积分+6880元</p>
						<span class="duihuan_button"><img src="../img/duihuan_button.png" alt=""></span>
					</li>
					<li>
						<img class="wei_icon" src="../img/pu.png" alt="">
						<img src="../img/huafei_big_pic.png" alt="">
						<p class="shop_name">商品名称</p>
						<p class="integral_money">1888积分+6880元</p>
						<span class="duihuan_button"><img src="../img/duihuan_button.png" alt=""></span>
					</li>
					<li>
						<img class="wei_icon" src="../img/pu.png" alt="">
						<img src="../img/huafei_big_pic.png" alt="">
						<p class="shop_name">商品名称</p>
						<p class="integral_money">1888积分+6880元</p>
						<span class="duihuan_button"><img src="../img/duihuan_button.png" alt=""></span>
					</li>
				</ul>
			</div>
		</div>
		<div class="member_width">
			<div class="member_list clearfix">
				<span class="member_title">广告宣传</span>
				<ul class="clearfix" style="display: inline-block;">
					<li class="current">平台广告</li>
					<li>推广服务</li>
					<li>设计服务</li>
				</ul>
			</div>
			<div class="member_content">
				<ul class="clearfix">
					<li>
						<img class="wei_icon" src="../img/wei.png" alt="">
						<img class="img_pic" src="../img/huafei_big_pic.png" alt="">
						<p class="shop_name">商品名称</p>
						<p class="integral_money">1888积分+6880元</p>
						<span class="duihuan_button"><img src="../img/duihuan_button.png" alt=""></span>
					</li>
					<li>
						<img class="wei_icon" src="../img/wei.png" alt="">
						<img src="../img/huafei_big_pic.png" alt="">
						<p class="shop_name">商品名称</p>
						<p class="integral_money">1888积分+6880元</p>
						<span class="duihuan_button"><img src="../img/duihuan_button.png" alt=""></span>
					</li>
					<li>
						<img class="wei_icon" src="../img/wei.png" alt="">
						<img src="../img/huafei_big_pic.png" alt="">
						<p class="shop_name">商品名称</p>
						<p class="integral_money">1888积分+6880元</p>
						<span class="duihuan_button"><img src="../img/duihuan_button.png" alt=""></span>
					</li>
					<li>
						<img class="wei_icon" src="../img/wei.png" alt="">
						<img src="../img/huafei_big_pic.png" alt="">
						<p class="shop_name">商品名称</p>
						<p class="integral_money">1888积分+6880元</p>
						<span class="duihuan_button"><img src="../img/duihuan_button.png" alt=""></span>
					</li>
					<li>
						<img class="wei_icon" src="../img/wei.png" alt="">
						<img src="../img/huafei_big_pic.png" alt="">
						<p class="shop_name">商品名称</p>
						<p class="integral_money">1888积分+6880元</p>
						<span class="duihuan_button"><img src="../img/duihuan_button.png" alt=""></span>
					</li>
					<li>
						<img class="wei_icon" src="../img/wei.png" alt="">
						<img src="../img/huafei_big_pic.png" alt="">
						<p class="shop_name">商品名称</p>
						<p class="integral_money">1888积分+6880元</p>
						<span class="duihuan_button"><img src="../img/duihuan_button.png" alt=""></span>
					</li>
					<li>
						<img class="wei_icon" src="../img/pu.png" alt="">
						<img src="../img/huafei_big_pic.png" alt="">
						<p class="shop_name">商品名称</p>
						<p class="integral_money">1888积分+6880元</p>
						<span class="duihuan_button"><img src="../img/duihuan_button.png" alt=""></span>
					</li>
					<li>
						<img class="wei_icon" src="../img/pu.png" alt="">
						<img src="../img/huafei_big_pic.png" alt="">
						<p class="shop_name">商品名称</p>
						<p class="integral_money">1888积分+6880元</p>
						<span class="duihuan_button"><img src="../img/duihuan_button.png" alt=""></span>
					</li>
					<li>
						<img class="wei_icon" src="../img/pu.png" alt="">
						<img src="../img/huafei_big_pic.png" alt="">
						<p class="shop_name">商品名称</p>
						<p class="integral_money">1888积分+6880元</p>
						<span class="duihuan_button"><img src="../img/duihuan_button.png" alt=""></span>
					</li>
					<li>
						<img class="wei_icon" src="../img/pu.png" alt="">
						<img src="../img/huafei_big_pic.png" alt="">
						<p class="shop_name">商品名称</p>
						<p class="integral_money">1888积分+6880元</p>
						<span class="duihuan_button"><img src="../img/duihuan_button.png" alt=""></span>
					</li>
				</ul>
			</div>
		</div>
	</div>


    <script src="../js/common.js"></script>
    <script src="../js/index.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/footer.js" type="text/javascript" charset="utf-8"></script>
    <!-- <script src="../../js/template.js"></script> -->
    <script src="http://www.sjmoban.com/study/artTemplate/static/js/template.js"></script>
	<script src="../js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
	<!-- banner -->
	<script type="text/html" id="bannerTm"> 
		<% for (i in list) { %>
		   <div class="swiper-slide" style="background: url(<%=list[i].url%>) no-repeat;background-size: cover;background-position: center;">
				   <a href="<%=list[i].link%>" style="display: block;width: 100%;height: 100%;"></a>
		   </div>
		<% } %>
   </script>
	<script>
		
		//banner
		$.ajax({
				type:"post",
		        url:pubIP+"advertisement/findAdvertisementByPosition",//v1.0
		        cache:false,
		        dataType: "json",
		        async:false,
		        headers: {
                    Accept: "application/json; charset=utf-8",
                    token: token
                },
                data: {
                	position: "G"
                },
		        success: function(data){
		        	console.log("++++++++++++++++");
		        	console.log(data);
		        	
					if (data&& data.G1.length > 0) {
						var result =  template("bannerTm",{list:data.G1});
						$('.swiper-wrapper').append(result);
						var mySwiper = new Swiper ('.swiper-container', {
							loop: true,
							autoplay : 5000,
							pagination: '.swiper-pagination',
							paginationClickable: true
						})
		        	}
		        },
		        error: function(err) {
		        	console.log(err);
		        }
		    });  
		//拦截链接
	    $(document).on('click','a',function(e){
	    	if ($(this).find('span').text() != '物流服务') {
	       		e.preventDefault();
	       		var isOld = localStorage.getItem('isOld');
	       		if(isOld != '2'){
	       			var ttxt = $.trim($(this).text());
	       			console.log(ttxt);
	       			if(ttxt == '用户中心' ){
	       				if(isOld == '1'){
	       					$('#effect .contTitle span').text('您尚未登录');
							missedLogin() ;
	       				}else if(isOld == '0'){
	       					missedLogin() ;
	       				}else if(isOld == '-1'){
	       					$('#effect .contTitle span').text('您尚未认证');
	       					$('#effect .contTitle i').text('认证');
	       					$('#popLogin').text('认证');
	       					$('#popLogin').addClass('qyrz_class');
							missedLogin() ;
	       				}else if(isOld == '-2'){
	      //  					$('#effect .contTitle span').text('您的认证正在审核中');
	      //  					$('#effect .contTitle i').text('等待审核通过').css('color','#000');
	      //  					$('#popLogin').hide();
							// missedLogin() ;

							window.location.href = this.href;
	       				}
	       			}else{
	       				window.location.href = this.href;
	       			}
	       		}else{
	       			window.location.href = this.href;
	       		}
	       	}
	    })

	    $(document).on('click', '.qyrz_class', function() {
	        sessionStorage.setItem('hzf_showPage', 'flag_qyrz');
	        window.location.href = "../account/account.html";
	    })
	</script>
</body>
</html>